<ion-side-menus enable-menu-with-back-views="false" cache-view="false">
  <ion-side-menu side="left">
    <div class="bar bar-header bar-assertive auto-height">
      <h1 class="title text-uppercase multi-line">Raden Mas Elon Musk Angel Kertarajasa Suryodiningrat Gorbachef Mardikova</h1>
    </div>
    <div class="list list-empty marg-top-20">
      <a href="#/daftar-rekrutment" class="item item-icon-left">
        <i class="icon medium-icon ion-clipboard assertive"></i>
        Formulir Aplikasi Keagenan
      </a>
      <a href="#/pelatihan-peraturan-dan-kode-etik" class="item item-icon-left">
        <i class="icon medium-icon ion-clipboard assertive"></i>
        Peraturan dan Kode Etik
      </a>
      <a href="#" class="item item-icon-left pru-logo-text">
        <i class="icon medium-icon ion-clipboard assertive"></i>
        <strong class="font-red">PRU</strong><em>fast start</em>
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon medium-icon ion-ios-telephone assertive"></i>
        Hubungi Recruiter
      </a>
    </div>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive bar-logo with-grey-bottom">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="right-nav">
            <a href="#" class="">
                <i class="ion-ios-bell"></i>
                <span class="new-notif">5</span>
            </a>
        </div>
      </ion-nav-buttons>
      <h1 class="title">Title!</h1>
    </ion-nav-bar>
    <ion-view view-title="Dashboard" ng-controller="homeCtrl">
      <ion-content class="has-header">
        <div class="list list-empty">
          <div class="item item-wrapper" href="#">
            <a href="#/data-kandidat" class="item item-icon-left" menu-close>
              <i class="icon ion-ios-checkmark balanced"></i>
              <h2>Formulir Aplikasi Keagenan</h2>
              <p><span class="font-black">4</span> dari <span class="font-black">4</span> selesai</p>
            </a>
            <div class="list sub-list">
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p class="font-gray">Data Kandidat</p>
                <small><span class="font-black">100%</span> selesai pada <span class="font-black">18 Agustus 2015</span></small>
              </a>
              <li class="item item-icon-left">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p class="font-gray">Application Pack</p>
                <small><span class="font-black">100%</span> selesai pada <span class="font-black">18 Agustus 2015</span></small>
              </li>
              <li class="item item-icon-left">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p class="font-gray">Dokumen Pendukung</p>
                <small><span class="font-black">100%</span> selesai pada <span class="font-black">18 Agustus 2015</span></small>
              </li>
              <li class="item item-icon-left">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p class="font-gray">Syarat &amp; Ketentuan</p>
                <small><span class="font-black">100%</span> selesai pada <span class="font-black">18 Agustus 2015</span></small>
              </li>
            </div>
          </div>
          <div class="item item-wrapper" href="#">
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-checkmark balanced"></i>
              <h2>Peraturan & Kode etik perusahaan</h2>
              <p><span class="font-black">2</span> dari <span class="font-black">2</span> selesai</p>
            </a>
            <ul class="list sub-list">
              <li class="item item-icon-left">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p class="font-gray">Training Material</p>
                <small><span class="font-black">100%</span> selesai</small>
              </li>
              <li class="item item-icon-left">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p class="font-gray">Ujian Peraturan & Kode Etik Perusahaan </p>
                <small><span class="font-black">100%</span>  selesai</small>
              </li>
            </ul>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>

</ion-side-menus>