<form ng-cloak ng-init="DialogBenefitListController()">
  <md-input-container class="md-block no-error marg-0" md-no-float>
    <input ng-model="searchBenefit" class="b-border-gray" type="text" placeholder="ketik disini untuk mencari">
  </md-input-container>
  <div class="text-left">
    <strong class="display-block marg-top-10 marg-bot-10 text-center">NAMA PRODUK</strong>
    <ul ng-repeat="group in benefitGroups">
      <strong class="text-uppercase marg-top-0">{{ group }}</strong>
      <li ng-repeat="item in benefitLists | filter:{group: group, name:searchBenefit}" class="pad-left-15 marg-bot-10 font-gray">
        <md-checkbox ng-model="item.taken" ng-change="addRemoveBenefit(item, item.taken)" md-no-ink aria-label="Checkbox No Ink"  class="h6 right-checkbox font-gray marg-0"> 
          <p ng-bind-html="item.name" class="pru-logo-text display-block width-70 marg-bot-0 marg-top-5"></p> 
        </md-checkbox> 
      </li>
    </ul>
  </div>
</form>