<ion-content class="has-header-tabs">
  <form name="formFastStart"class="default-form" ng-submit="sendData($event,currentMenuTab)">
    <div layout="column">
      <md-input-container class="md-icon-float md-block label-black">
        <label>Jenis Training Fast Start</label>
        <md-icon aria-label="person" class="material-icons">&#xE0BE;</md-icon>
        <md-select ng-model="candidatePack.dataFastStart.trainingType" ng-change="changeFastStartType()">
          <md-option><em>None</em></md-option>
          <md-option ng-value="type.value" ng-repeat="type in fastStartType">
            {{type.label}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div ng-if="candidatePack.dataFastStart.trainingType == 1">
      <div layout="column">
        <md-input-container class="md-icon-float md-block label-black">
          <label>Lokasi Training Fast Start</label>
          <md-icon aria-label="person" class="material-icons">&#xE0C8;</md-icon>
          <md-select ng-model="candidatePack.dataFastStart.trainingLocation" ng-change="save()">
            <md-option><em>None</em></md-option>
            <md-option ng-value="location.value" ng-repeat="location in fastStartLocation">
              {{location.label}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <p class="pru-logo colored-logo text-center marg-top-30">
        Pilih <strong>PRU</strong><em>sales academy</em> jika Anda ingin melakukan <strong>PRU</strong><em>fast start</em> Training di Prudential Center. Ada banyak pilihan jadwal training di <strong>PRU</strong><em>sales academy</em>
      </p>
      <div class="schedule-box marg-bot-10 sch-{{sch.id}}" ng-class="{choosed: choosing{{sch.id}} }" ng-repeat="sch in fastStartSchedule" ng-click="chooseSchedule($event, sch.id)">
        <div class="date sch-opt">
          <i class="{{sch.icon}}"></i><br/>
          <h1>{{sch.date}}</h1>
          {{sch.days}} hari<br/><span class="small">Jadwal {{sch.part}}</span>
        </div>
        <div class="sch-info">
          Training {{sch.days}} Days<br/>
          14-16 {{sch.month}} ({{sch.days}} hari)<br/>
          <span class="small">Waktu: {{sch.time}} <br/>
          Lokasi: {{sch.loc}}</span><br/>
          <a>Pilih Jadwal</a>
          <a>Batal Pilih</a>
        </div>

        <ion-checkbox name="schedule" ng-checked= "choosing{{sch.id}}" class="choosing{{sch.id}} hidden"></ion-checkbox>
      </div>
    </div>
    <div class="form-group">
      <button class="button button-block button-assertive next-tab" type="submit">Lanjut</button>
    </div>
  </form>
</ion-content>