<ion-view view-title="Salin Ilustrasi" ng-controller="ilustrasiCtrl">
  <ion-header-bar align-title="left" class="bar-assertive">
    <a class="left-buttons" ng-href="#/daftar-newsqs">
      <button class="button button-icon icon ion-ios-arrow-back"></button>
    </a>
    <h1 class="title text-uppercase">Ringkasan Ilustrasi</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="card pad-0">
      <div class="content spaced-area">
        <h6 class="font-gray text-uppercase marg-top-5 pad-left-10">Ringkasan Ilustrasi Ini Bukan Sebuah Kontrak Asuransi</h6>
        <h4 class="pad-left-10 font-size-16 pru-logo-text">PRU<em class="font-100">link assurance account</em></h4>
        <div class="content-header text-uppercase marg-left-5 pad-left-10">
          <i class="ion ion-ios-person"></i>
          Tertanggung Utama
        </div>
        <div class="block-container">
          <div>
            <h6 class="font-gray marg-bot-5">Nama Tertanggung Utama</h6>
            <h4 class="font-size-16 marg-top-0">Angela Del Angel</h4>
          </div>
          <div>
            <span class="display-inline-block">
              <h6 class="font-gray marg-bot-5">Usia Tahun Berikutnya</h6>
              <h4 class="font-size-16 marg-top-0">32 Tahun</h4>
            </span>
            <span class="label-left-md pull-right text-right">
              <h6 class="font-gray marg-bot-5">Jenis Kelamin</h6>
              <h4 class="font-size-16 marg-top-0">Wanita/Bukan Perokok</h4>
            </span>
          </div>
          <div>
            <span class="display-inline-block">
              <h6 class="font-gray marg-bot-5">Frekuensi Pembayaran</h6>
              <h4 class="font-size-16 marg-top-0">Bulanan</h4>
            </span>
            <span class="label-left-md pull-right text-right">
              <h6 class="font-gray marg-bot-5">Mata Uang</h6>
              <h4 class="font-size-16 marg-top-0">IDR</h4>
            </span>
          </div>
          <div>
            <h6 class="font-gray marg-bot-5 pru-logo-text">Jumlah yang harus dibayar dalam satu tahun (Premi Berkala & Premi <em class="font-100">Top-Up</em> Berkala</h6>
            <h4 class="font-size-16 marg-top-0">8,000,000</h4>
          </div>
        </div>
        <div class="content-header text-uppercase marg-left-5 pad-left-10">
          <i class="pru-icons pf-icon-pru-icon_contract inline"></i>
          Manfaat dan Premi
        </div>
        <div class="block-container marg-left-5 marg-right-5 pad-top-10 pad-bot-10">
          <div class="border-red border-left-right-10 pad-right-5 pad-left-5" layout="row" layout-wrap>
            <div flex="33" class="pad-left-5">
              <h6 class="font-size-10">Manfaat <br>Asuransi</h6>
            </div>
            <div flex="" class="pad-riht-5">
              <h6 class="font-size-10">Sampai dengan usia</h6>
            </div>
            <div flex="33" class="pad-left-5">
              <h6 class="font-size-10">Uang Pertanggungan</h6>
            </div>
            <div flex="20" class="">
              <h6 class="font-size-10">Biaya Asuransi Bulanan**</h6>
            </div>
          </div>
          <div class="border-red marg-top-min-1 pad-right-5 border-bottom-left-right-10  pad-left-5">
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-33">
                <h5 class="font-size-9 strong">Manfaat Dasar</h5>
                <h5 class="font-gray font-size-9 marg-bot-0">U1ZR</h5>
                <h5 class="pru-logo-text font-gray font-size-9 marg-top-0"><strong class="font-black">PRU</strong><em class="font-100">link assurance account</em></h5>
              </div>
              <div class="pad-right-5 pad-left-5">
                <h6 class="font-size-9">99</h6>
              </div>
              <div class="pad-right-5 width-33">
                <h6 class="font-size-9">9,999,999,999,000</h6>
              </div>
              <div  class="width-20">
                <h6 class="font-size-9">999,999,000</h6>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-33">
                <h5 class="font-size-9 strong">Manfaat Tambahan</h5>
                <h5 class="font-gray font-size-9 marg-bot-0">c1LR</h5>
                <h5 class="pru-logo-text font-gray font-size-9 marg-top-0"><strong class="font-black">PRU</strong><em class="font-100">crisis over benefit 34</em></h5>
              </div>
              <div flex class="pad-right-5 pad-left-5">
                <h6 class="font-size-9">99</h6>
              </div>
              <div class="pad-right-5 width-33">
                <h6 class="font-size-9">9,999,999,999,000</h6>
              </div>
              <div class="width-20">
                <h6 class="font-size-9">999,999,000</h6>
              </div>
            </div>
            <div class="table-pru">
              <div class="pad-left-5 width-33">
                <h5 class="font-gray font-size-9 marg-bot-0">H1QR</h5>
                <h5 class="pru-logo-text font-gray font-size-9 marg-top-0"><strong class="font-black">PRU</strong><em class="font-100">hospital & surgical cover(Plan A)</em></h5>
              </div>
              <div flex class="pad-right-5 pad-left-5">
                <h6 class="font-size-9">99</h6>
              </div>
              <div class="pad-right-5 width-33">
                <h6 class="font-size-9">9,999,999,999,000</h6>
              </div>
              <div class="width-20">
                <h6 class="font-size-9">999,999,000</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="block-container">
          <h5 class="pru-logo-text">Premi Berkala dan Premi <em class="font-100" class="font-gray">Top-Up</em> Berkala (U1CR <strong>PRU</strong><em class="font-100">saver</em>)</h5>
          <h5 class="font-size-16">PREMI BULANAN</h5>
          <h5 class="font-gray small">
            <span class="display-block">
              Premi Berkala <span class="pull-right"> 99,999,999,999,000</span>
            </span>
            <span class="display-block pru-logo-text marg-bot-10 pad-bot-10">
              Premi <em class="font-100" class="font-gray">Top-Up</em> Berkala (<strong>PRU</strong><em class="font-100">saver</em>)<span class="pull-right b-border-gray pad-bot-10"> 99,999,999,999,000</span></span>
          </h5>
          <h5 class="small">Total Premi (Bulanan)<span class="pull-right"> 99,999,999,999,000</span></h5>
        </div>
        <div class="content-header text-uppercase marg-left-5 pad-left-10">
          <i class="ion ion-stats-bars"></i>
          Asumsi Nilai Tunai
        </div>
        <div class="block-container">
          <h5>Asumsi Nilai Tunai di masa yang akan datang**</h5>
          <table class="h5 font-gray width-100">
            <tr>
              <td class="h6 font-size-10">
                Tahun Polis
              </td>
              <td class="h6 font-size-10">
                Usia
              </td>
              <td class="h6 font-size-10 text-right">
                Rendah (000)
              </td>
              <td class="h6 font-size-10 text-right">
                Sedang (000)
              </td>
              <td class="h6 font-size-10 text-right">
                Tinggi (000)
              </td>
            </tr>
            <tr>
              <td  class="h6 font-size-10">
                10
              </td>
              <td  class="h6 font-size-10">
                45
              </td>
              <td  class="h6 font-size-10 text-right">
                29,090
              </td>
              <td class="h6 font-size-10 text-right">
                61,144
              </td>
              <td class="h6 font-size-10 text-right">
                112,314
              </td>
            </tr>
            <tr>
              <td class="h6 font-size-10">
                20
              </td>
              <td class="h6 font-size-10">
                55
              </td>
              <td class="h6 font-size-10 text-right">
                ***
              </td>
              <td class="h6 font-size-10 text-right">
                ***
              </td>
              <td class="h6 font-size-10 text-right">
                180,464
              </td>
            </tr>
            <tr>
              <td class="h6 font-size-10">
                30
              </td>
              <td class="h6 font-size-10">
                65
              </td>
              <td class="h6 font-size-10 text-right">
                ***
              </td>
              <td class="h6 font-size-10 text-right">
                ***
              </td>
              <td class="h6 font-size-10 text-right">
                461,708
              </td>
            </tr>
          </table>
          <p class="h6 font-gray">Nilai tunai dihitung dengan menggunakan asumsi tingkat investasi. Besarnya nilai tunai yang dibayarkan (bisa lebih besar atau lebih kecil dari yang diilustrasikan), akan bergantung pada perkembangan dari dana investasi. (Lihat hal-hal Penting pada halaman terakhir).
          </p>
        </div>
        <div class="content-header text-uppercase marg-left-5 pad-left-10">
          <i class="ion ion-stats-bars"></i>
          dana investasi
        </div>
        <div class="block-container marg-left-5 marg-right-5 pad-top-10 pad-bot-10">
          <span class="h6 marg-top-0  marg-left-10 marg-bot-5 display-block">Kinerja Dana Investasi**</span>
          <div class="border-red border-left-right-10 pad-right-5 pad-left-5" layout="row" layout-wrap>
            <div class="pad-left-5 width-30">
              <h6 class="font-size-10">Dana Investasi</h6>
            </div>
            <div class="pad-riht-5 width-20">
              <h6 class="font-size-10">Sejak Dluncurkan</h6>
            </div>
            <div class="width-10">
              <h6 class="font-size-10">2011</h6>
            </div>
            <div class="width-10">
              <h6 class="font-size-10">2012</h6>
            </div>
            <div class="width-10">
              <h6 class="font-size-10">2013</h6>
            </div>
            <div class="width-10">
              <h6 class="font-size-10">2014</h6>
            </div>
            <div class="width-10">
              <h6 class="font-size-10">2015</h6>
            </div>
          </div>
          <div class="border-red marg-top-min-1 pad-right-5 border-bottom-left-right-10  pad-left-5">
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah</h5>
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">Managed Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah Equity Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah Fixed Income Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah Cash Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Dollar Fixed Income Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah Indonesia Greater China Equity Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah Equity Fund Plus</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah Infrastructure & Consumer Equity Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
            <div class="border-bottom border-color-gray table-pru">
              <div class="pad-left-5 width-30">
                <h5 class="pru-logo-text font-size-10"><strong class="font-black">PRU</strong><em class="font-100">link</em> Rupiah Value Discovery Equity Fund</h5>
              </div>
              <div class="pad-right-5 pad-left-5 width-20">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div class="pad-right-5 width-10">
                <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
              <div  class="width-10">
               <h5 class="text-capitalize font-size-10 font-gray marg-top-0">99.99</h5>
              </div>
            </div>
          </div>
          <p class="h6 font-gray">
            **Kinerja investasi diatas merupakan hasil pada tahun - tahun sebelumnya. Hasil pada saat mendatang bisa berbeda, Nilai dan hasilnya dapat menaik ataupun menurun. Lihat keterangan No. 5, 6, 7 dan 15 pada "Hal - hal Penting" di halaman terakhir.
          </p>
        </div>
        <svg id="code39"></svg>
        <div id="chartdiv"></div> 
      <!-- <div class="block-container">
        <h6 class="font-gray">Grafik Pertumbuhan Nilai Tunai (Rupiah)<br/>
        jika Premi dibayar sampai usia 99 tahun<br/>
        Nilai Tunai (000) - 20 tahun pertama</h6>
        [Chart]
      </div> -->
        <div ng-controller="DocumentController as vm">
          <button ng-click="vm.previewOutput()"  type="button" class="button button-block button-assertive marg-top-15" type="submit">DOWNLOAD PDF</button>
          <button type="button" class="button button-block button-assertive marg-top-15" type="submit">SALIN ILUSTRASI</button>
          <button ng-click="sendEmail()" type="button" class="button button-block button-assertive marg-top-15" type="submit">KIRIM EMAIL</button>
        </div>
      </div>  
      <script id="pdf-viewer.html" type="text/ng-template">  
          <ion-modal-view class="fullmodal">
              <ion-header-bar align-title="left" class="bar-assertive">
                <a class="left-buttons" ng-click="vm.modal.hide()">
                  <button class="button button-icon icon ion-ios-arrow-back"></button>
                </a>
                <h1 class="title text-uppercase">Output</h1>
              </ion-header-bar>
              <!-- <ion-header-bar>
                  <button ng-click="vm.modal.hide()" class="button button-icon icon ion-android-close"></button>
                  <h1 class="title">Output</h1> 
              </ion-header-bar> -->
              <ion-content>
                      <ng-pdf ng-if="pdfUrl" template-url="components/newSqs/output/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>  
              </ion-content>
          </ion-modal-view>
      </script> 
    </div>    
  </ion-content>
</ion-view>