<div class="contentHead">
            <ul>
                <li class="w40">
                    <label><span class="w70">Nama tertanggung utama(sesuai kartu ID)</span><b>231312312</b></label>
                    <label><span class="w70">Usia Tahun Berikutnya(tanggal lahir)</span><b>18</b></label>                   
                    <label><span class="w70">Pekerjaan</span><b>Ahli Ekonomi</b></label>
                </li>
                <li class="w20">
                    <label><span class="w50">Jenis Kelamin</span><b>Wanita/Perokok</b></label>
                    <label><span class="w50">Kelas Pekerjaan</span><b>1</b></label>
                </li>
                <li class="w40">
                    <label>ALOKASI DANA INVESTASI</label>
                    <label><b>100% dari PRU<i>link</i> Rupiah Infrastructure & Consumer Equity Fund</b></label>
                </li>
            </ul>
            <br>
        </div>
        <br>
        <br>
        <div>
            <ul class="contentHead">
                <li class="w45">
                    <label><span class="w70">Frekuensi Pembayaran</span><b>Bulanan</b></label>
                    <label><span class="w80">Rencana Masa Pembayaran Premi yang dikehendaki nasabah*</span><b>81 tahun</b></label>
                    <label><span class="w80">Masa Pembebanan Biaya Asuransi & Administrasi (tidak lebih dari)</span><b>82 tahun</b></label>
                    <label><span>Jumlah yang harus dibayar dalam 1 tahun (Premi Berkala & Premi <i>Top-up</i> Berkala)</span></label>
                </li>
                <li class="w30">
                    <label><span class="w50">Mata Uang</span><b>IDR</b></label>
                    <label class="hidden">space</label>
                    <label class="hidden">space</label>
                    <label><b>5,000,000</b></label>
                </li>
                <li class="w20">
                    <label><span class="w70">Nomor SPJA/Polis</span><span>13445134</span></label>
                </li>
            </ul>
        </div>
        <div class="tableMfaat">
            <ul class="contentHead">
                <li class="w30">
                    <label><b>MANFAAT ASURANSI</b></label>
                    <label><span>Dasar</span><span>U1BR</span><span><b>PRU</b><i>link assurance account</i></span></label>
                </li>
                <li class="w10 right text-right">
                    <label><b class="uline">Sampai dengan usia tertanggung</b><br><span>99</span></label>
                </li>
                <li class="w10 right text-right">
                    <label><b class="uline">Uang Pertanggungan</b><br><span>550,000,000</span></label>
                </li>
                <li class="w20 right text-right">
                    <label style="padding-right: 20px;"><b class="uline">Biaya Asuransi Bulanan**</b><br><span>99,000</span></label>
                </li>
                <li class="w30">
                    <label><span class="bord-bot">Premi Berkala & Premi <i>Top-Up</i> Berkala (<b>PRU<i>saver</i></b>)</span></label>
                    <label><b>Premi Bulanan</b></label>
                    <label><span class="w70">Premi Berkala</span><span class="right">416,334</span></label>
                    <label><span class="w70">Premi <i>Top-Up</i> Berkala (<b>PRU<i>saver</i></b>)</span><span class="text-right w30 bord-bot">0</span></label>
                    <label><b>Total Premi (Bulanan)</b><span class="right">416.334</span></label>
                </li>
            </ul>
            <p class="fn-10">(Manfaat Asuransi, Frekuensi Pembayaran, Mata Uang Polis dan Jenis Dana Investasi tersebut di atas adalah bagian dari SPJA yang akan digunakan sebagai acuan dalam proses penerbitan Polis/kontrak asumsi atau perubahan Polis yang berhubungan dengan uang pertanggungan, Manfaat asuransi, Besar premi, Jangka waktu, Merokok/ Tidak Merokok, Kelas pekerja, Frekuensi Pembayaran, mata uang Polis dan jenis dana investasi)</p>
        </div>
        <div>
            <div class="w20 left">
                <h4><b>RINGKASAN MANFAAT</b></h4>
                <i class="10"> - </i> <b>PRU</b><i>link assurance account</i>(PPA)
            </div>
            <div class="w80 right fn-10">
                <p>(Hanya untuk ilustrasi, keterangan lengkap mengenai Manfaat Asuransi (termasuk syarat-syarat dan pengecualian) tercantum pada polis, berlaku dan mengikat)</p>
                <div>
                    <p>Apabila Tertanggung Utama meniggal dunia atau Cacat Total dan Tetap dibayarkan sebesar Uang pertanggungan PPA dan Nilai Tunai, apabila ada.</p>
                    <p>Apabila Tertanggung Utama mendererita Cacat Total dan Tetap akan dibayarkan uang pertanggungan PAA, maksimum sebesar Rp 2 milyar per jiwa. Apabila Manfaat Asuransi Cacat Total dan Tetap telah dibayarkan maka akan mengurangi uang Pertanggunan PAA. Pembayaran Uang Pertanggunan Cacat Total dan Tetap akan dibagi 2 tahap sebagai berikut:</p>
                    <p>Pembayaran pertama, 180 hari dari tanggal diagnosa Cacat Total dan Tetap sebesar 20% dari Uang Pertanggunan yang akan mengurangi Uang Pertanggunan PAA</p>
                    <p>Pembayaran Kedua (satu tahun setelah Pembayaran Pertama) sebesar 80% dari uang pertanggungan PAA yang akan mengurangi nilai uang pertanggungan PAA</p>
                    <p>Apabila Tertanggung Utama hidup sampai dengan Tanggal Akhir Pertanggunan maka akan dibayarkan Nilai Tunai, apabila ada.</p>
                </div>
            </div>
        </div>