<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div class="container">
	<header>
		<ul>
			<li class="pruleft">
				<div class="prulinkLg">
			</li>
			<li class="prutitle">halaman ilustrasi ini merupakan bagian dari kontrak asuransi</li>
			<li class="pruright">
				<div class="prudentLg"></div>
			</li>
		</ul>
	</header>
	<div class="content">
		<div class="fn-10">
			<p>* Ketentuanjenis pemeriksaan dan Fakultatif di atas hanya berdasarkan pada informasi yang ada dalam ilustrasi ini saja. Dalam hal terdapat informasi lain ditemukan ketika dilakukan proses underwriting, maka underwriter berhak mengubah ketentuan tersebut</p>
			<p>** Merupakan bagian dari dasar penilaian underwriter dalam menerbitkan kontrak asuransi. Perbedaan informasi pada penghasikan di ilustrasi dengan SPJA atau risk profile jika ada, akan menggunakan data yang tertinggi.</p>
		</div>
		<br>
		<h4><b>DESKRIPSI PEKERJAAN</b></h4>
		<table>
			<tr>
				<td>
					<span>Ahli fisioterapi</span>
				</td>
				<td>
					<span>Bekerja untuk mengidentifikasi dan meningkatkan fungsi serta pergerakan pasien. Mereka membantu pasien untuk meningkatkan kesehatan dan kehidupan serta membantu proses rehabilitasi dengan meningkatkan fungsi sistem tubuh, secara khusus fungsi persyarafan dan otot, otot dan tulang, fungsi jantung dan sistem persyarafan. Mereka menganjurkan dan mengevaluasi program pengobatan, melakukan terapi secara manual, membimbing olah raga dan pergerakan dan mengaplikasikan peralatan teknologi seperti USG.</span>
				</td>
			</tr>
			<tr>
				<td>
					<span>Ahli Ekonom</span>
				</td>
				<td>
					<span>Ekonom adalah seorang profesional dalam disiplin ilmu ekonomi.</span>
				</td>
			</tr>
		</table>
	</div>
	<footer>
		<ul>
			<li class="fooLeft">
				<label><span class="w15">Disajikan</span><b>Garry</b></label>
				<label><span class="w15">Tanggal</span><b>22-jun-2016</b><b>16:24:34</b></label>
				<label><span class="w30">Kode Agent/SFC</span><b>135113</b></label>
			</li>
			<li class="fooright">
				<span><small><b>*Manfaat asuransi diatas dapat diberikan selama biaya asuransi terpenuhi. Apabila nilai Tunai yang terbentuk tidak mencukupi maka Rencana Masa Pembayaran Premi yang direncanakan bisa lebih panjang.</b><br>
				**keterangan lengkap lihat dihalaman ILUSTRASI MANFAAT NILAI TUNAI.</small></span>
			</li>
		</ul>
	</footer>
</div>
</body>
</html>
