
	<h4><b>HAL-HAL PENTING</b></h4>
	<div class="content fn-10 impt">
		<ul>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula sem, volutpat quis ultrices id, dictum vel leo
			</li>
		</ul>
	</div>
