<div class="fn-10">
    <H4><b>ILUSTRASI MANFAAT NILAI TUNAI - PRU<i>link</i> Rupiah Infrastructure & Consumer Equity Fund</b></H4>
    <div class="w50 left">
        <table class="tableNt">
            <thead>
                <tr>
                    <th rowspan="3" id="nt-a">Awal Tahun</th>
                    <th rowspan="3" id="nt-u">Usia (Tahun) #</th>
                    <th colspan="3" id="nt-r">RINGKASAN TRANSAKSI SESUAI MASA PEMBAYARAN PREMI YANG DIKEHENDAKI(81 tahun)</th>
                    <th colspan="3" id="nt-i" class="w45">ILUSTRASI MANFAAT</th>
                </tr>
                <tr>
                    <th rowspan="2" id="nt-r1" headers="nt-r">Premi pada awal tahun (000)</th>
                    <th rowspan="2" id="nt-r2" headers="nt-r">Top Up Premi Tunggal (000)</th>
                    <th rowspan="2" id="nt-r3" headers="nt-r">Penarikan</th>
                    <th id="nt-i1" headers="nt-i" colspan="3">Nilai tunai (000) merupakan nilai pada akhir tahun polis, sesuai masa pembayaran premi yang dikehendaki(81 tahun)</th>
                </tr>
                <tr>
                    <th id="nt-ir" headers="nt-i1">Rendah</th>
                    <th id="nt-is" headers="nt-i1">Sedang</th>
                    <th id="nt-it" headers="nt-i1">Tinggi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="nt-a">1</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">2</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">3</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">4</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">5</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">6</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">7</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">8</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">9</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">10</td>
                    <td headers="nt-u">11</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">11</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">12</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">13</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">14</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">15</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">16</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">17</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">18</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">19%</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">20</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">21%</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">22</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">23</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">24</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">25</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">26</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">27</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">28</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">29</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">30</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">31</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">32</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">33</td>
                    <td headers="nt-u">3</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">34</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">35</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">36</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">37</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">38</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">39</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">40</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
            </tbody>
        </table>
        <div class="w98">
            <p>Asumsi tingkat hasil investasi yang digunakan adalah sebagai berikut:</p>
            <table class="tableInv">
                <tr>
                    <th>Dana Investasi</th>
                    <th>Rendah**</th>
                    <th>Sedang**</th>
                    <th>Tinggi**</th>
                </tr>
                <tr>
                    <td><b>PRU<i>link</i> Rupiah Infrastructure & consumer Equity Fund</b></td>
                    <td>5%</td>
                    <td>10%</td>
                    <td>15%</td>
                </tr>
            </table>
            <br>
            <p>Biaya Pengelolaan Dana Investasi: 2.0% atau jumlah lain sampai dengan 2% sebagaimana diatur dalam polis asuransi anda(jika disetujui)</p>
            <p>#    Masa Asuransi sampai dengan Tertanggung mencapai usia 99 tahun.</p>
            <p>**   Asumsi tinggi rendahnya tingkat hasil investasi ini hanya bertujuan untuk ilustrasi saja dan bukan merupan tolak ukur untuk perhitungan rata-rata tingkat hasil investasi yang terendah dan tertinggi. Lihat keterangan no.5 pada "Hal-hal penting" di halaman terakhir.</p>
        </div>
    </div>
    <div class="w50 right">
        <table class="tableNt_2">
            <thead>
                <tr>
                    <th rowspan="3" id="nt-a">Awal Tahun</th>
                    <th rowspan="3" id="nt-u">Usia (Tahun) #</th>
                    <th colspan="3" id="nt-r">RINGKASAN TRANSAKSI SESUAI MASA PEMBAYARAN PREMI YANG DIKEHENDAKI(81 tahun)</th>
                    <th colspan="3" id="nt-i" class="w45">ILUSTRASI MANFAAT</th>
                </tr>
                <tr>
                    <th rowspan="2" id="nt-r1" headers="nt-r">Premi pada awal tahun (000)</th>
                    <th rowspan="2" id="nt-r2" headers="nt-r">Top Up Premi Tunggal (000)</th>
                    <th rowspan="2" id="nt-r3" headers="nt-r">Penarikan</th>
                    <th id="nt-i1" headers="nt-i" colspan="3">Nilai tunai (000) merupakan nilai pada akhir tahun polis, sesuai masa pembayaran premi yang dikehendaki(81 tahun)</th>
                </tr>
                <tr>
                    <th id="nt-ir" headers="nt-i1">Rendah</th>
                    <th id="nt-is" headers="nt-i1">Sedang</th>
                    <th id="nt-it" headers="nt-i1">Tinggi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="nt-a">1</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">2</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">3</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">4</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">5</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">6</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">7</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">8</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">9</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">10</td>
                    <td headers="nt-u">11</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">11</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">12</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">13</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">14</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">15</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">16</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">17</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">18</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">19%</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">20</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">21%</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">22</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">23</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">24</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">25</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">26</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">27</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">28</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">29</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">30</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">31</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">32</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">33</td>
                    <td headers="nt-u">3</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">34</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">35</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">36</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">37</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">38</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">39</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
                <tr>
                    <td headers="nt-a">40</td>
                    <td headers="nt-u">15%</td>
                    <td headers="nt-r nt-r1">5%</td>
                    <td headers="nt-r nt-r2">20%</td>
                    <td headers="nt-r nt-r3">10%</td>
                    <td headers="nt-i1 nt-ir">10%</td>
                    <td headers="nt-i1 nt-is">15%</td>
                    <td headers="nt-i1 nt-it">15%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>