
	<div class="content">
		<div class="border contentHead fn-10">
			<div class="w50 left" style="padding: 2px 3px">
				<label>
					<span class="w60">Nama Calon Pemegang Polis</span>
					<span>123134123</span>
				</label>
				<label>
					<span class="w60">(sesuai kartu ID)</span>
					<span></span>
				</label>
				<label>
					<span class="w60">Pekerjaan**</span>
					<span>PHYS Ahli Fisioterapi</span>
				</label>
				<br>
				<label>
					<span class="w60">Instansi/Departemen</span>
					<span>323422</span>
				</label>
				<label>
					<span class="w60">Bidang Usaha</span>
					<span>DS Departemen stores</span>
				</label>
				<br>
				<label>
					<span class="w60">Jabatan/Pangkat/Golongan</span>
					<span>AB1 Ajun Brigadir Polisi Satu(Abriptu)</span>
				</label>
				<label>
					<span class="w60">Nama Calon Pembayar Premi(sesuai Kartu ID)</span>
					<span>134143</span>
				</label>
				<label>
					<span class="w60">Pekerjaan**</span>
					<span>PHYS Ahli Fisioterapi</span>
				</label>
				<br>
				<label>
					<span class="w60">Instansi/Departemen</span>
					<span>143423</span>
				</label>
				<label>
					<span class="w60">Bidang Usaha</span>
					<span>DS Departemen Stores</span>
				</label>
				<br>
				<label>
					<span class="w60">Jabatan/Pangkat/Golongan</span>
					<span>AB1 Ajun Brigadir Polisi Satu(Abriptu)</span>
				</label>
				<label>
					<span class="w60">Total Penghasilan Rutin Calon Pembayaran Premi per Bulan**</span>
					<span>Rp. 10 Juta s/d Rp. 25 Juta</span>
				</label>
				<label>
					<span class="w60">Nama Calon Tertanggung Utama</span>
					<span>143423</span>
				</label>
				<label>
					<span class="w60">(sesuai kartu ID/Akta lahir)</span>
					<span></span>
				</label>
				<label>
					<span class="w60">Usia Tahun Berikutnya</span>
					<span>18(01-Apr-1999)</span>
				</label>
				<label>
					<span class="w60">Jenis Kelamin</span>
					<span>Wanita/Perokok</span>
				</label>
				<label>
					<span class="w60">Pekerjaan**</span>
					<span>ECOM Ahli Ekonomi</span>
				</label>
				<br>
				<label>
					<span class="w60">Kelas Pekerjaan**</span>
					<span>1</span>
				</label>
				<label>
					<span class="w60">Instansi/Departemen</span>
					<span>143423</span>
				</label>
				<label>
					<span class="w60">Bidang Usaha</span>
					<span>DB Distributor/dealer kendaraan bermotor dan suku cadang</span>
				</label>
				<br>
				<label>
					<span class="w60">Jabatan/Pangkat/Golongan</span>
					<span>AUD Auditor Utama</span>
				</label>
				<label>
					<span class="w60">Total Penghasilan Rutin Calon Tertanggung Utama per Bulan**</span>
					<span>Rp. 10 Juta s/d Rp. 25 Juta</span>
				</label>
				<h4><b>ALOKASI DANA INVESTASI</b></h4>
				<b>PRIE 100% dari PRU<i>link</i> Rupiah Infrastructure & Consumer Equity Fund</b>
				<small>
					<label>
						<span class="w60">Total Manfaat untuk menentukan jenis medikal:</span>
						<span>Life 1 (Rp)</span>
					</label>
					<ul class="prie-sm">
						<li>
							<span>Meninggal</span>
							<b>550,000,000</b>
						</li>
						<li>
							<span>Additional CC</span>
							<b>0</b>
						</li>
						<li>
							<span>ESCC</span>
							<b>0</b>
						</li>
						<li>
							<span>Total Additional CC</span>
							<b>0</b>
						</li>
						<li>
							<span>Besarnya UP</span>
							<b>550,000,000</b>
						</li>
						<li>
							<span>Jenis Pemeriksaan yang dibutuhkan</span>
							<b>NM</b>
						</li>
					</ul>
					<br>
					<br>
					<label>
						<span class="w60">Total Manfaat untuk menentukan Fakultatif atau tidak:</span>
						<span></span>
					</label>
					<ul class="prie-sm">
						<li>
							<span>Meninggal</span>
							<b>550,000,000</b>
						</li>
						<li>
							<span>Additional CC</span>
							<b>0</b>
						</li>
						<li>
							<span>Crisis Income</span>
							<b>0</b>
						</li>
						<li>
							<span>ESCC</span>
							<b>0</b>
						</li>
						<li>
							<span>ACC-CC</span>
							<b>0</b>
						</li>
						<li>
							<span>Total CC</span>
							<b>0</b>
						</li>
						<li>
							<span>TPD</span>
							<b>550,000,000</b>
						</li>
						<li>
							<span>ADD/AD</span>
							<b>0</b>
						</li>
						<li>
							<span>Fakultatif untuk manfaat*</span>
							<b>Tidak Fakultatif [NIL]</b>
						</li>
					</ul>
				</small>
			</div>
			<div class="w35 left">
				<label>
					<span class="w60">Nomor SPJA / Polis</span>
					<span>14311413</span>
				</label>
			</div>
		</div>	
	</div>
