<ion-view view-title="Applikasi Berhasil Dikirim">
  <div class="content content-red">
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text">
      <div class="text-center top-space">
        <div class="img-icon img-badge img-badge-success img-circle img-80">
          <i class="ion-clipboard"></i>
        </div>
      </div>
      <h4 class="marg-top-30 text-center">Aplikasi Berhasil Dikirim</h4>
      <div class="content-fixed-bottom">
        <a href="#/r-candidate" class="button button-light button-block text-uppercase text-center">Lanjut</a>
      </div>
    </div>
  </div>
</ion-view>