<ion-view view-title="Data Kandidat">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">3 Notifikasi Baru</h1>
  </div>
  <ion-content class="has-header">
    <ion-list>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-clipboard assertive"></i>
        <h2>Follow up kandidat Agen</h2>
        <p>Agen onboarding</p>
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-ribbon-b assertive"></i>
        <h2>Follow up kandidat Agen</h2>
        <p>Agen onboarding</p>
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-monitor assertive"></i>
        <h2>Follow up kandidat Agen</h2>
        <p>Agen onboarding</p>
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-trophy assertive"></i>
        <h2>Follow up kandidat Agen</h2>
        <p>Agen onboarding</p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
