<ion-view view-title="Polis" cache-view="false">
  <ion-header-bar align-title="left" class="bar-assertive bar-plain">
    <a class="left-buttons" ng-href="#/daftar-newsqs">
      <button class="button button-icon icon ion-ios-arrow-back"></button>
    </a>
    <h1 class="title text-uppercase">Kelengkapan Data Profile</h1>
  </ion-header-bar>
  <div class="top-tabs tabs-striped tabs-top tabs-background-light tabs-color-assertive">
    <div class="papertab tabs">
      <div class="tab-scrolling pru-logo" onload="navAnimation()">
        <a ng-repeat="menu in menuTabs" href="#" class="tab-item two-tabs" ng-click="movingTab($event, menu)" ng-class="{active:isActiveTab(menu.url)}">
          <span ng-bind-html="menu.name"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="tab-content">
    <div class="has-header-tabs position-relative z-index-2" ng-controller="profilePemegangPolisCtrl">
      <div class="h6 bg-light-gray-ebebeb marg-0 pad-sides-30 pad-top-20 pad-bot-20 font-red" ng-init="openValidation == false" ng-click="openValidation = !openValidation">
        <div class="marg-auto">
          {{numClassPemegangPolisItems('valid')}}<span class="font-gray">/{{ruleLength}}</span> ISIAN DATA PERLU DISESUAIKAN 
          <i class="icon ion-arrow-down-b position-relative pos-top-2 font-size-16 pull-right font-red" ng-class="{'rotate-180':openValidation == true, 'rotate-0':openValidation != true}">
          </i>
        </div>
      </div>
      <div ng-show="openValidation==true" class="bg-white validation-list">
        <div class="list list-empty">
          <div class="item item-wrapper" href="#">
            <div class="list">
              <li class="item item-icon-left h5 white-space-normal pad-left-15 pad-bot-0 b-border-none" href="#">
                PEMEGANG POLIS (<span class="font-red">{{numClassPemegangPolisItems('valid_pp')}}</span>/{{ruleLengthPemegangPolis}} selesai)
              </li>
              <li class="item item-icon-left h5 white-space-normal" ng-click="doFocus('tanggalLahir', 'pp', $event)">
                <i class="icon font-size-20" ng-class="{'ion-ios-close assertive': calculateAgeFunc(polis.tanggalLahir) < validationRule.pemegangPolis.age, 'ion-ios-checkmark balanced valid_pp valid': calculateAgeFunc(polis.tanggalLahir) >= validationRule.pemegangPolis.age }"></i>
                <div>Pemegang polis harus berusia minimal {{validationRule.pemegangPolis.age}} tahun.</div>
                <div>Ubah data tanggal lahir</div>
              </li>
              <li class="item item-icon-left h5 white-space-normal" ng-click="doFocus('nameHolder', 'pp', $event)">
                <i class="icon font-size-20" ng-class="{'ion-ios-close assertive': polis.nameHolder.length > validationRule.pemegangPolis.nameMax, 'ion-ios-checkmark balanced valid_pp valid': polis.nameHolder.length <= validationRule.pemegangPolis.nameMax }"></i>
                <div>Nama pemegang polis maksimal {{validationRule.pemegangPolis.nameMax}} karakter.</div>
                <div>Ubah data nama {{polis.nameHolder.length}}</div>
              </li>
              <li class="item item-icon-left h5 white-space-normal" ng-click="doFocus('jobDescription', 'pp', $event)">
                <i class="icon font-size-20" ng-class="{'ion-ios-close assertive': polis.descriptionWork.length > validationRule.pemegangPolis.jobDesc, 'ion-ios-checkmark balanced valid_pp valid': polis.descriptionWork.length <= validationRule.pemegangPolis.jobDesc }"></i>
                <div>Deskripsi pekerjaan pemegang polis maksimal {{validationRule.pemegangPolis.jobDesc}} karakter.</div>
                <div>Ubah data deskripsi pekerjaan</div>
              </li>
              <li class="item item-icon-left h5 white-space-normal pad-left-15 pad-bot-0 b-border-none" href="#">
                TERTANGGUNG (<span class="font-red">{{numClassPemegangPolisItems('valid_t')}}</span>/{{ruleLengthTertanggung}} selesai)
              </li>
              <li class="item item-icon-left h5 white-space-normal" ng-click="doFocus('tanggalLahirT', 't', $event)">
                <i class="icon font-size-20" ng-class="{'ion-ios-close assertive': calculateAgeFunc(profileTertanggung.tanggalLahir) < validationRule.tertanggung.age, 'ion-ios-checkmark balanced valid_t valid': calculateAgeFunc(profileTertanggung.tanggalLahir) >= validationRule.tertanggung.age }"></i>
                <div>Pemegang polis harus berusia minimal {{validationRule.tertanggung.age}} tahun.</div>
                <div>Ubah data tanggal lahir</div>
              </li>
            </div>
          </div>
        </div>
      </div>
  </div>

    <div id="pribadi" ng-include="currentMenuTab.url" onload="loadFormRequirements()">
    </div>
  </div>
  <div class="backdrop-place"></div>
  <div class="load-spinner">
    <div class="cssload-double-torus"></div>
  </div>
</ion-view>
