<ion-content class="has-header-tabs" ng-cloak>
  <div layout="row">
    <div class="card pad-0" flex>
      <form name="formProfileTertanggung" class="default-form">
      <div class="pull-left width-100"> 
        <span class="width-50-md width-100 pull-left"> 
          <div class="marg-top-10 pad-left-15"> 
            <span ng-model="editInsuredName" class="pad-left-10" ng-click="editInsuredName = !editInsuredName"> 
              <i class="icon ion-edit h6 font-gray"></i>  
              <span class="font-red font-size-10 marg-right-20"> 
                <span ng-if="editInsuredName === false">EDIT</span> 
                <span ng-if="editInsuredName === true">SELESAI</span> 
              </span> 
            </span> 
            <span ng-click="addInsuredData()"> 
              <i class="icon ion-android-person-add h6 font-gray"></i> <span class="font-red font-size-10">TAMBAH</span>
            </span> 
            <span class="pull-right" ng-if="arrayForDeleteInsured.length > 0" ng-click="deleteInsured(editInsuredList)"> <i class="icon ion-ios-trash h5 font-gray"></i>  
              <span class="font-red font-size-10 marg-right-20"> 
                <span>HAPUS</span> 
              </span> 
            </span> 
          </div> 
          <div ng-if="editInsuredName === true" class="block-container b-border-white marg-bot-0 pad-sides-10"> 
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-change="addInsuredList(editInsuredList, item.id)" ng-model="editInsuredList" ng-repeat="item in insuredDatas" class="h6 width-50 pull-left font-gray marg-right-0"> 
            {{item.alias}} 
            </md-checkbox> 
          </div> 
        </span> 
        <span class="width-50-md width-100 pull-left marg-bot-10 marg-top-10"> 
          <div class="block-container b-border-white marg-bot-0"> 
            <v-accordion multiple class="vAccordion--default"> 
              <v-pane expanded="insuredName.isExpanded"> 
                <v-pane-header class="marg-0 content-header no-border no-icon text-uppercase pad-left-15 pad-right-10 pad-top-10 light-gray"> 
                  <i class="ion ion-person marg-0 marg-right-10 font-gray h4"></i> 
                  <span class="font-black">{{profileTertanggung.alias}}</span> 
                  <i class="ion ion-play pull-right font-red h4 marg-0 rotate-90"></i> 
                </v-pane-header> 
                <v-pane-content> 
                  <md-autocomplete 
                      md-selected-item="selectedItem" 
                      md-search-text="searchText" 
                      md-selected-item-change="selectedItemChange(item)" 
                      md-items="item in insuredDatas" 
                      md-item-text="item.alias" 
                      md-min-length="1" 
                      placeholder="ketik disini untuk mencari"> 
                    <md-item-template> 
                      <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.alias}}</span> 
                    </md-item-template> 
                    <md-not-found> 
                      Nama "{{searchText}}" tidak ditemukan. 
                      <a ng-click="newState(searchText)">Create a new one!</a> 
                    </md-not-found> 
                  </md-autocomplete> 
                </v-pane-content> 
              </v-pane> 
            </v-accordion> 
          </div> 
        </span> 
        </div>
        <span class="width-50-md width-100 pull-left"> 
          <div class="block-container b-border-white marg-bot-0"> 
            <md-input-container class="md-icon-float md-block"> 
              <label>Nama Lengkap Tertanggung</label> 
              <md-icon aria-label="person" class="material-icons">&#xE7FD;</md-icon> 
              <input ng-model="profileTertanggungEmpty.name" type="text" required> 
              <div ng-messages="formProfileTertanggung.name.$error"> 
                <div ng-message="required">Harus diisi.</div> 
              </div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block pad-0">
              <label>Tanggal Lahir</label>
              <md-datepicker ng-required ng-model="profileTertanggungEmpty.tanggalLahir" md-open-on-focus> 
                <div ng-messages="formProfileTertanggung.tanggalLahir.$error"> 
                </div> 
              </md-datepicker> 
            </md-input-container>
            <md-input-container class="md-icon-float md-block pad-0">
              <label>Tanggal Perkiraan Lahir</label>
              <md-datepicker ng-required ng-model="profileTertanggungEmpty.tanggalPerkiraanLahir" md-open-on-focus> 
                <div ng-messages="formProfileTertanggung.tanggalPerkiraanLahir.$error"> 
                </div> 
              </md-datepicker> 
              <div class="h6 marg-left-40 marg-top-0 font-gray">*Apabila tertanggung masih dalam usia kehamilan. Lorem ipsum is simply dummy text of the printing &amp; typesetting industry</div> 
            </md-input-container>
            <md-input-container class="md-icon-float md-block marg-bot-0" flex-gt-sm> 
              <label>Usia Kehamilan</label> 
              <md-icon aria-label="person" class="material-icons">&#xE916;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.usiaKehamilan"> 
                <md-option value="1">9 Bulan</md-option> 
              </md-select> 
            </md-input-container> 
            <div class="marg-left-40 h6"> 
              <div class="font-gray h6 marg-0">Usia Tahun Berikutnya</div> 
              <span class="marg-top-5 display-inline-block"><input class="input-little-box display-inline-block" type="text" size="1" maxlength="1" value="{{profileTertanggung.usiaTahunBerikutnya}}" /> Tahun</span> 
            </div> 
            <md-input-container class="md-icon-float md-block" flex-gt-sm> 
              <label>Jenis Kelamin/Perokok</label> 
              <md-icon aria-label="person" class="material-icons">&#xE63D;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.jenisKelaminPerokok"> 
                <md-option value="1">Perempuan/Bukan Perokok</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block"> 
              <label>Alamat 1</label> 
              <md-icon aria-label="person" class="material-icons">&#xE88A;</md-icon> 
              <input ng-model="profileTertanggungEmpty.alamat1" type="text" required> 
              <div ng-messages="formProfileTertanggung.alamat1.$error"> 
                <div ng-message="required">Harus diisi.</div> 
              </div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block"> 
              <label>Alamat 2</label> 
              <md-icon aria-label="person" class="material-icons"></md-icon> 
              <input ng-model="profileTertanggungEmpty.alamat2" type="text"> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block"> 
              <label>Alamat 3</label> 
              <md-icon aria-label="person" class="material-icons"></md-icon> 
              <input ng-model="profileTertanggungEmpty.alamat3" type="text"> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block" flex-gt-sm> 
              <label>Kota</label> 
              <md-icon aria-label="person" class="material-icons">&#xE55F;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.kota"> 
                <md-option value="Bandung">Bandung</md-option> 
                <md-option value="Bogor">Bogor</md-option> 
                <md-option value="Bekasi">Bekasi</md-option> 
                <md-option value="1">Jakarta Timur</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block" flex-gt-sm> 
              <label>Propinsi</label> 
              <md-icon aria-label="person" class="material-icons">&#xE55F;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.city"> 
                <md-option value="Bandung">Jawa Barat</md-option> 
                <md-option value="Bogor">Jawa Timur</md-option> 
                <md-option value="Bekasi">Jawa Tengah</md-option> 
                <md-option value="Jakarta">DKI Jakarta</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block"> 
              <label>Kode Pos</label> 
              <md-icon aria-label="person" class="material-icons"></md-icon> 
              <input ng-model="profileTertanggungEmpty.address_3" type="text"> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block marg-bot-0" flex-gt-sm> 
              <label>Pekerjaan</label> 
              <md-icon aria-label="person" class="material-icons">&#xE63D;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.pekerjaan"> 
                <md-option value="1">Juru Ketik</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
            <div class="marg-left-40 h6 marg-0"> 
              <span class="font-gray h6 marg-0">Kelas Pekerjaan</span> 
              <input class="input-little-box marg-top-5" value="{{profileTertanggung.kelasPekerjaan}}" type="text" value="0" size="1" maxlength="1" /> 
            </div> 
            <md-input-container class="md-icon-float md-block"> 
              <label>Deskripsi Pekerjaan</label> 
              <md-icon aria-label="wokr" class="material-icons">&#xE8F9;</md-icon> 
              <input ng-model="profileTertanggungEmpty.deskripsiPekerjaan" type="text" required> 
              <div ng-messages="formProfileTertanggung.deskripsiPekerjaan.$error"> 
                <div ng-message="required">Harus diisi.</div> 
              </div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block marg-bot-0" flex-gt-sm> 
              <label>Bidang Usaha</label> 
              <md-icon aria-label="person" class="material-icons">&#xE8F9;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.bidangUsaha"> 
                <md-option value="1">Makanan cepat saji</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
          </div> 
        </span> 
        <span class="width-50-md width-100 pull-left"> 
          <div class="block-container b-border-white marg-bot-0"> 
            <md-input-container class="md-icon-float md-block" flex-gt-sm> 
              <label>Instansi/Departemen</label> 
              <md-icon aria-label="person" class="material-icons">&#xE0AF;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.departemen"> 
                <md-option value="1">Administrasi Negara</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block" flex-gt-sm> 
              <label>Jabatan/Pangkat/Golongan</label> 
              <md-icon aria-label="person" class="material-icons">&#xE0AF;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.pangkat"> 
                <md-option value="1">Juru Ketik/3A</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
            <md-input-container class="md-icon-float md-block marg-bot-0" flex-gt-sm> 
              <label>Total Penghasilan Tertanggung Utama per Bulan</label> 
              <md-icon aria-label="person" class="material-icons">&#xE8F9;</md-icon> 
              <md-select ng-model="profileTertanggungEmpty.totalPenghasilanUtama"> 
                <md-option value="1">Rp 7,500,000.00</md-option> 
              </md-select> 
              <div class="md-errors-spacer"></div> 
            </md-input-container> 
            <div class="form-group marg-bot-0 pad-top-01"> 
              <label class="label-checked">Premi Berlaku Surut</label> 
              <md-input-container class="md-icon-float md-block"> 
                <md-icon aria-label="person" class="material-icons marg-0 marg-top-7">&#xE7FD;</md-icon> 
                <div class="form-group marg-bot-0 icon-check"> 
                  <md-radio-group ng-model="profileTertanggungEmpty.berlakuSurut" class="inline-radio-button"> 
                    <md-radio-button value="ya" class="md-primary">Ya</md-radio-button> 
                    <md-radio-button value="tidak"> Tidak </md-radio-button> 
                  </md-radio-group> 
                </div> 
              </md-input-container> 
            </div> 
            <md-input-container class="md-icon-float md-block pad-0">
              <label>Tanggal Premi Berlaku Surut</label>
              <md-datepicker ng-required ng-model="profileTertanggungEmpty.tanggalBerlakuSurut" md-open-on-focus> 
                <div ng-messages="formProfileTertanggung.tanggalBerlakuSurut.$error"> 
                </div> 
              </md-datepicker> 
              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="polis.ooo" class="h6 marg-top-0 font-gray marg-left-40"> 
                Saya dengan ini setuju bahwa Premi berlaku surut sejak tanggal tersebut diatas dan Saya memahami segala resiko yang dapat muncul atas pemilihan tungaal tersebut berlaku surut <span class="italic-font">(Back Dated)</span> 
              </md-checkbox> 
            </md-input-container>
            <div class="form-group marg-bot-0 pad-top-01"> 
              <label class="label-checked">Substandard</label> 
              <md-input-container class="md-icon-float md-block"> 
                <md-icon aria-label="person" class="material-icons marg-0 marg-top-7">&#xE7FD;</md-icon> 
                <div class="form-group marg-bot-0 icon-check"> 
                  <md-radio-group ng-model="profileTertanggungEmpty.subStandard" class="inline-radio-button"> 
                    <md-radio-button value="ya" class="md-primary">Ya</md-radio-button> 
                    <md-radio-button value="tidak"> Tidak </md-radio-button> 
                  </md-radio-group> 
                </div> 
              </md-input-container> 
            </div> 
            <div ng-if="profileTertanggungEmpty.subStandard == 'ya'"> 
              <div class="content-header text-uppercase pad-left-15"> 
                <i class="ion ion-person marg-right-10"></i> 
                Substandard 
                <i class="ion ion-plus pull-right font-white h4 marg-0"></i> 
              </div> 
              <div class="marg-top-10 pad-left-15"> 
                <span ng-model="editSubstandardModel" ng-click="editSubstandard(editSubstandardModel)"> 
                  <i class="icon ion-edit h6 font-gray"></i>  
                  <span class="font-red font-size-10 marg-right-20"> 
                    <span ng-if="editSubstandardModel === false">EDIT</span> 
                    <span ng-if="editSubstandardModel === true">SELESAI</span> 
                  </span> 
                </span> 
                <span ng-click="addSubstandards()"> 
                  <i class="icon ion-android-person-add h6 font-gray"></i> <span class="font-red font-size-10">TAMBAH</span> 
                </span> 
                <span class="pull-right" ng-if="editSubstandardModel === true" ng-click="deleteSubStandard()"> 
                  <i class="icon ion-ios-trash h5 font-gray"></i>  
                  <span class="font-red font-size-10 marg-right-20"> 
                    <span>HAPUS</span> 
                  </span> 
                </span> 
              </div> 
              <div class="block-container b-border-white marg-bot-0"> 
                <div ng-repeat="item in profileTertanggung.substd" ng-if="editSubstandardModel === true || item.checked === true"> 
                  <md-checkbox ng-if="editSubstandardModel === true" md-no-ink aria-label="Checkbox No Ink" ng-model="item.checked" class="h6 font-gray"> 
                  </md-checkbox> 
                  <span class="width-40 display-inline-block"> 
                    <md-input-container class="marg-0 md-block width-70"> 
                      <md-select ng-model="item.data.val1" aria-label="Dropdown"> 
                        <md-option value="{{item.data.val1}}">{{item.data.val1}}</md-option> 
                        <md-option value="2">L2</md-option> 
                      </md-select> 
                      <div class="md-errors-spacer"></div> 
                    </md-input-container> 
                  </span> 
                  <span class="width-40 display-inline-block"> 
                    <md-input-container class="marg-0 md-block width-70"> 
                      <md-select ng-model="item.data.val2" aria-label="Dropdown"> 
                        <md-option value="1">L1</md-option> 
                        <md-option value="{{item.data.val2}}">{{item.data.val2}}</md-option> 
                      </md-select> 
                      <div class="md-errors-spacer"></div> 
                    </md-input-container> 
                  </span> 
                </div> 
              </div> 
              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="substandard.chkbok" class="h6 marg-left-15 font-gray"> 
              Saya dengan ini setuju dengan pertanyaan substandard atas diri saya sebagaimana tertera diatas terkait dengan permohonan asuransi saya kepada Prudential. 
              </md-checkbox> 
            </div> 
            <div class="content-header text-uppercase pad-left-15"> 
              <i class="ion ion-android-list marg-right-10"></i> 
              Pengecualian 
              <i class="ion ion-plus pull-right font-white h4 marg-0"></i> 
            </div> 
            <md-input-container class="md-icon-float md-block"> 
              <label>Catatan Khusus</label> 
              <input ng-model="profileTertanggungEmpty.address_3" type="text"> 
            </md-input-container> 
            <div class="position-relative  height-250"> 
              <div class="position-absolute pos-bot-20"> 
                <strong class="h6">CATATAN KHUSUS</strong> 
                <div class="font-gray h6 line-height-12 marg-0"> 
                  Lorem ipsum dolor sit amet, te euis fugit accusata nam. Dicam seruise duli bano, sit am to licut anasdi. Sea ne sumo um dre tu lsidfak bahdf. 
                 </div> 
              </div> 
            </div> 
            <div class="form-group"> 
              <button type="button" class="button button-block button-assertive next-tab" ng-click="sendData($event)">Lanjut</button> 
            </div> 
          </div> 
        </span> 
      </form> 
    </div>
  </div>
</ion-content>