<ion-view view-title="Lembar Persetujuan Tanda Tangan" ng-controller="baseCtrl">
  <ion-header-bar align-title="left" class="bar-assertive">
    <a class="left-buttons" ng-href="#/">
      <button menu-toggle="left" class="button button-icon icon ion-ios-arrow-back"></button>
    </a>
    <h1 class="title title-left">LEMBAR PERSETUJUAN</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="content-profile-head content-white-head profile-name small-header pad-sides-10">
      <div class="center-content">
        <h5 class="text-center marg-top-5 marg-bot-5"> PERJANJIAN KEAGENAN<br>PT PRUDENTIAL LIFE ASSURANCE</h5>
      </div>
    </div>
    <div class="content-standard pad-top-0 font-black">
      <h5 class="marg-bot-15">PERJANJIAN KEAGENAN ini (“Perjanjian”) dibuat oleh dan antara: </h5>
      
      <div class="row pad-left-0">
          <div class="col col-20 pad-0">Nama: </div><div class="col col-80 pad-0">PT PRUDENTIAL LIFE ASSURANCE</div>
      </div>
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">Alamat: </div><div class="col col-80 pad-0">   Prudential Tower , <br> Jl. Jend. Sudirman Kav. 79, Jakarta,<br> Indonesia 12910 </div>
      </div>
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">No. Telp: </div><div class="col col-80 pad-0"> (+62 21) 2995 8888 </div>
      </div>
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">No. Faks: </div><div class="col col-80 pad-0">   (+62 21) 2995 8800 </div>
      </div>
      
      <h5 class="marg-bot-15 marg-top-15">(Selanjutnya disebut sebagai “<span class="font-bold">Perusahaan</span>”).</h5>
      
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">Nama: </div><div class="col col-80 pad-0"> [Nama Calon Agen Sesuai KTP] </div>
        </div>
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">Alamat: </div><div class="col col-80 pad-0"> [Alamat 1 Calon Agen] <br>    [Alamat 2 Calon Agen]<br>    [Alamat 3 Calon Agen]<br>    [Provinsi] [Kode Pos]</div>
    </div>
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">No. KTP: </div><div class="col col-80 pad-0">  [Nomor KTP Calon Agen] </div>
      </div>
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">No. Telp: </div><div class="col col-80 pad-0"> [Telepon Selular Calon Agen] </div>
      </div>
      <div class="row pad-left-0">
        <div class="col col-20 pad-0">No. Faks: </div><div class="col col-80 pad-0"> [Nomor Faks Calon Agen] </div>
      </div>

      <h5 class="marg-bot-15 marg-top-15">(Selanjutnya disebut sebagai “<span class="font-bold">Agen</span>”).</h5>

      <p class="marg-0 font-black">
        Perusahaan dan Agen secara bersama-sama selanjutnya dapat disebut “<span class="font-bold">Para Pihak</span>” dan secara sendiri-sendiri disebut “<span class="font-bold">Pihak</span>”.
      </p>

      <h5 class="marg-bot-15 marg-top-15">BAHWA: </h5>
      
      <p class="marg-0 font-black">
        Perusahaan bermaksud menunjuk Agen untukmelakukan pemasaran Produk Asuransi(sebagaimana didefinisikan di bawah ini) dan Agen bersedia untuk menerima penunjukan Perusahaan berdasarkan syarat-syarat dan ketentuan-ketentuan sebagaimana diatur dalam Perjanjian ini. 
      </p>

      <h5 class="marg-bot-15 marg-top-15">
        MAKA dengan ini Para Pihak sepakat dan setuju atas syarat-syarat dan ketentuan-ketentuan sebagai berikut:
      </h5>
      <ol class="numbering-list list-p-keagenan">
        <li>DEFINISI
          <ol>
            <li>
              Dalam Perjanjian ini, kecuali apabila konteksnya secara tegas menyatakan atau mensyaratkan lain,maka kata-kata sebagaimana dimaksud di bawah ini memiliki arti sebagai berikut:   
              <ol>
                <li>
                  “AAJI” adalah Asosiasi Asuransi Jiwa Indonesia.
                </li>
                <li>
                  “AASI” adalah Asosiasi Asuransi Syariah Indonesia.
                </li>
                <li>
                  “Cacat Total dan Tetap” adalah cacat sebagai akibat dari Kecelakaan atau penyakit yang menyebabkan:
                  <ol class="lower-alpha-list pad-left-10">
                    <li>Agen sama sekali tidak dapat melakukan pekerjaan apa pun untuk mencari nafkah secara terus-menerus selama 180 hari terakhir sejak didiagnosa oleh dokter, tidak termasuk cacat berupa kelainan jiwa, cacat mental, neurosis, psikosomatis ataupun psikosis; atau
                    </li>
                    <li>Agen kehilangan fungsi secara total dan tidak dapat dipulihkan atas anggota tubuh sebagai berikut:
                      <ul class="star-list">
                        <li>
                          Kedua mata, atau
                        </li>
                        <li>
                          Kedua lengan atau kedua kaki atau satu lengan dan satu kaki yang terjadi pada atau di atas pergelangan tangan atau pergelangan kaki, atau
                        </li>
                        <li>
                          Satu mata dan satu lengan yang terjadi pada atau di atas pergelangan tangan, atau
                        </li>
                        <li>
                          Satu mata dan satu kaki yang terjadi pada atau di atas pergelangan kaki.
                        </li>
                        <li>Sedangkan ”Kecelakaan” merupakan peristiwa yang tidak diharapkan, terjadi secara tiba-tiba, tidak terduga, tidak disengaja, datangnya dari luar, bersifat kekerasan dan kasat mata.</li></ul></li></ol></li>
                <li>
                  “valuasi” adalah sebagaimana didefinisikandalam Pasal 6.
                </li>
                <li>
                  “Informasi Rahasia” adalah segala informasi rahasia mengenai Perusahaan dan Kelompok Usaha-nya dari waktu ke waktu (dalam bentuk apapun) termasuk tetapi tidak terbatas pada segala informasi mengenai bisnis, keuangan, operasional,nasabah dan marketing, know-how dan rahasia dagang sehubungan dengan bisnis dari Perusahaan dan Kelompok Usaha-nya tersebut dan segala informasi dimana Perusahaan dan kelompok usahanya terikat untuk menjaga kerahasiaan informasi tersebut ke pihak ketiga. “Kelompok Usaha” adalah berarti setiap perusahaan di mana Prudential plc menjadi pemegang saham utamanya.
                </li>
                <li>
                  “Jasa” adalah seluruh jasa yang diberikan oleh Agen kepada Nasabah dan kewajiban yang harus dilakukan Agen berdasarkan Perjanjian ini, termasuk hal-hal sebagaimana diatur dalam Pasal 3.
                </li>
                <li>                  
                  “Kekayaan Intelektual” adalah setiap hak paten, hak cipta, hak merek, rahasia dagang, hasil karya, desain, metode, teknik, proses, prosedur, ilustrasi, baik terdaftar maupun tidak, baik dalam bentuk cetak, audio atau video, yang dimiliki dan/atau dibuat oleh Perusa.
                <li>
                  “Kerugian” adalah setiap klaim, tanggung jawab, pengeluaran, denda, penalti, biaya, kerugian dalam bentuk apa pun (termasuk biaya hukum).
                </li>
                <li>
                  “Ketentuan Komisi”, adalah ketentuan mengenai Komisi (sebagaimana didefinisikan dibawah ini) yang berhak diterima oleh Agen berdasarkan Perjanjian ini, sebagaimana terlampir dalam Lampiran I.
                </li>
                <li>
                  “Kode Etik Tenaga Pemasar” adalah StandarPraktik dan Kode Etik Tenaga Pemasar Asuransi Jiwa sebagaimana yang diuraikan dalam Lampiran III.
                </li>
                <li>
                  “Komisi” adalah komisi yang berhak diterimaAgen sebagaimana diuraikan dalam Pasal 4.
                </li>
                <li>
                  “Logo Perusahaan” adalah semua nama,tanda-tanda, merek dagang, dan/atau logoPerusahaan.
                </li>
                <li>
                  “Nasabah” adalah semua orang yang sudahdan/atau berpotensi menjadi pemegang polisPerusahaan.
                </li>
                <li>
                  “OJK” adalah Otoritas Jasa Keuangan.
                </li>
                <li>
                  “Penangguhan” adalah salah satu bentuk Tindakan Disiplin yang dapat diberikan oleh Perusahaan kepada Agen berupa penangguhan sebagian atau seluruh hak Agen sebagaimana diatur di dalam Pasal 8.3.
                </li>
                <li>
                  “Peraturan AAJI” adalah peraturan dan kebijakan yang dikeluarkan oleh AAJI beserta segala penambahan dan perubahannya.
                </li>
                <li>
                  “Peraturan Keagenan” adalah semua peraturan dan kebijakan yang dikeluarkan dan/atau disosialisasikan oleh Perusahaan dari waktu ke waktu, termasuk PRU Berita, Kode Etik Keagenan, agency update, Panduan Komunikasi dan penggunaan merek untuk Tenaga Pemasar dan operational update, flyerbeserta segala penambahan dan perubahannya.
                </li>
                <li>
                  “Produk Asuransi” adalah program asuransi jiwa yang ditawarkan dan/atau dipertanggungkan oleh Perusahaan, dan semua program asuransi lain yang disetujui dan diterbitkan oleh Perusahaan dari waktu ke waktu.
                </li>
                <li>
                  “SPAJ” adalah aplikasi Surat Pengajuan Asuransi Jiwa yang ditentukan oleh Perusahaan dari waktu ke waktu.
                </li>
                <li>
                  “Tanda Terima Resmi” adalah Tanda TerimaTitipan Premi/ Kontribusi Bersyarat yang merupakan tanda terima resmi yang diakui oleh Perusahaan, atau suatu nama lain yang dari waktu ke waktu ditentukan oleh Perusahaan.
                </li>
                <li>
                  “Tindakan Disiplin” adalah sebagaimana didefinisikan dalam Pasal  8.</li></ol></li>
            <li>
              Judul dan sub judul dalam Perjanjian ini adalahuntuk memudahkan saja dan tidak mempengaruhi implementasi atau penafsiran atas Perjanjian ini.
            </li>
            <li>
              Kecuali ditentukan lain, dalam Perjanjian ini:
              <ol>
                <li>
                  Kata dengan bentuk tunggal mencakup juga bentuk jamak, demikian pula sebaliknya;
                </li>
                <li>
                  Referensi yang menunjuk pada Klausul, Pasal,Ayat, dan Lampiran berarti menunjuk pada klausul, pasal, ayat dan lampiran Perjanjian ini; dan
                </li>
                <li>
                  Referensi yang menunjuk kepada suatu orangakan dianggap sebagai referensi terhadap parapenerus dan pengganti haknya yang sah.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PENUNJUKAN AGEN
          <p class="font-black">Perusahaan dengan ini menunjuk dan memberi wewenang kepada Agen untuk memberikan Jasa di wilayah negara Republik Indonesia dengan tunduk kepada syarat-syarat dan ketentuan-ketentuan dalam Perjanjian ini.</p>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          KEWAJIBAN DAN TANGGUNG JAWAB AGEN
          <ol>
            <li>
              Agen wajib memiliki sertifikasi dan lisensi keagenan sebagaimana disyaratkan peraturan dan perundang-undangan yang berlaku.
            </li>
            <li>
              Agen wajib untuk mempergunakan waktu dan perhatiannya untuk melakukan hal-hal di bawah ini dengan baik:
              <ol>
                <li>
                  Mempromosikan, memasarkan dan menjual Produk Asuransi kepada Nasabah dan melayani pertanyaan dari Nasabah mengenai Produk Asuransi;
                </li>
                <li>
                  Mencari dan menghubungi Nasabah atas nama Perusahaan, dan memberikan layanan purna jual kepada Nasabah tersebut;
                </li>
                <li>
                  Mengumpulkan dan memberikan seluruh informasi mengenai Nasabah kepada Perusahaan, serta mempersiapkan dokumen dan laporan yang dibutuhkan, termasuk namun tidak terbatas pada dokumen-dokumen sehubungan dengan pengajuan atau perubahan polis Perusahaan; dan
                </li>
                <li>
                  Melakukan dan menyelesaikan tugas-tugas, kewajiban-kewajiban, hal-hal, fungsi-fungsi yang ditugaskan kepada Agen oleh Perusahaan dari waktu ke waktu.
                </li></ol>
            </li>
            <li>
              Apabila Agen memberikan aplikasi Produk Asuransi atau dokumen-dokumen lain sehubungan dengan Nasabah kepada Perusahaan, maka Agen akan dianggap menyatakan dan menjamin Perusahaan bahwa:
              <ol>
                <li>
                  Agen telah melakukan verifikasi atas seluruh detil informasi yang dirujuk, tertera atau disertakan dalam aplikasi Nasabah tersebut dan bahwa informasi tersebut adalah benar, lengkap dan akurat; dan
                </li>
                <li>
                  Dokumen-dokumen pendukung yang disertakan dalam aplikasi Nasabah tersebut adalah merupakan dokumen asli, atau bilamana dalam bentuk fotokopi maka fotokopi tersebut memuat data-data yang sama dengan dokumen aslinya dan tanda tangan yang tertera dalam aplikasi dan dokumen-dokumen tersebut adalah tanda tangan asli Nasabah.
                </li></ol></li>
            <li>
              Agen wajib untuk setiap saat dan dalam segala hal patuh dan tunduk terhadap:
              <ol>
                <li>
                  Setiap dan seluruh strategi, pedoman, perintah dan prosedur yang ditetapkan oleh Perusahaan dari waktu ke waktu sehubungan dengan kinerja Agen;
                </li>
                <li>
                  Peraturan Keagenan, Peraturan AAJI, Peraturan AASI, Peraturan OJK dan berpartisipasi dalam setiap pelatihan-pelatihan mengenai anti pencucian uang (Anti Money Laundering), sosialisasi produk dan program-program kepatuhan (baik diadakan olehPerusahaan maupun pihak lain) yang disyaratkan oleh Perusahaan; dan
                </li>
                <li>
                  Seluruh peraturan dan perundang-undangan yang berlaku terhadap Agen, dan wajib memastikan bahwa Jasa dilakukan dalam cara yang tidak (i) melanggar peraturan dan perundang-undangan yang berlaku di Indonesia atau (ii) yang menurut pendapatPerusahaan dapat merusak reputasi Perusahaan.
                </li>
              </ol>
            </li>
            <li>
              Agen wajib untuk melaksanakan Jasa secara kompeten dan baik serta wajib bertindak semata-mata untuk kepentingan Perusahaan dan Nasabah.
            </li>
            <li>
              Dalam memberikan Jasa, Agen wajib untuk setiap saat:
              <ol>
                <li>
                  Bertindak jujur dan penuh integritas;
                </li>
                <li>
                  Bertindak dengan niat baik dan meletakkankepentingan Nasabah di atas kepentingan Agen;
                </li>
                <li>
                  Memberikan informasi yang benar dan akurat mengenai Produk Asuransi kepada Nasabah;
                </li>
                <li>
                  Mempertahankan agar polis-polis Produk Asuransi tetap berlaku (menjaga persistensi Nasabah);
                </li>
                <li>
                  Memastikan bahwa kesehatan Nasabah diperiksa oleh pemeriksa kesehatan yang telahditunjuk oleh Perusahaan, kecuali dalam hal tidakada pemeriksa kesehatan yang ditunjuk Perusahaandi daerah tersebut;
                </li>
                <li>
                  Mengusahakan agar Nasabah membayar semua premi secara langsung ke Perusahaan, ataumelalui bank yang ditunjuk oleh Perusahaan dariwaktu ke waktu;
                </li>
                <li>
                  Mengirimkan Surat Pengajuan Asuransi Jiwa yang lengkap dalam jangka waktu 2 (dua) hari kerja terhitung sejak Agen menerima Surat Pengajuan Asuransi Jiwa dari Nasabah;
                </li>
                <li>
                  Meneruskan setiap dan seluruh keluhan(complaint) tertulis Nasabah kepada Perusahaanselambat-lambatnya dalam jangka waktu 2 x 24 jamterhitung sejak Agen menerima keluhan tersebut;dan
                </li>
                <li>
                  Melaporkan secara tertulis setiap dan seluruhklaim untuk manfaat Produk Asuransi kepada Perusahaan secepatnya, namun tidak lebih dari2 X 24 jam terhitung sejak diterimanyapemberitahuan klaim dari Nasabah dan/atau wakilnya.
                </li>
              </ol>
            </li>
            <li>
              Agen dilarang untuk:
              <ol>
                <li>
                  Memberikan informasi dan/atau pernyataan yang salah, tidak lengkap atau menyesatkan mengenai Produk Asuransi;
                </li>
                <li>
                  Memasarkan produk asuransi Perusahaan di luar wilayah Republik Indonesia;
                </li>
                <li>
                  Membuat, menggunakan dan memperbanyak brosur penjualan, bahan atau materi pemasaran apapun yang merupakan bagian dari Kekayaan Intelektual Perusahaan atau mengikutsertakan nama Perusahaan kecuali telah mendapat izin tertulis terlebih dahulu dari Perusahaan;
                </li>
                <li>
                  Membuat perjanjian (dalam bentuk apa pun) dengan pihak ketiga atas nama Perusahaan;
                </li>
                <li>
                  Melakukan perubahan terhadap ilustrasiProduk Asuransi Perusahaan dan/atau dengan caraapapun memanipulasi perangkat lunak untukmenciptakan suatu harapan yang tidak masuk akal;
                </li>
                <li>
                  Memberikan, atau mencoba memberikan, baik secara langsung maupun tidak langsung, potongan terhadap premi Produk Asuransi, atau memberikan manfaat tambahan yang tidak diatur dalam Produk Asuransi atau memberikan jaminan nilai manfaat dalam rangka membujuk Nasabah untuk menutup Produk Asuransi;
                </li>
                <li>
                  Tanpa persetujuan tertulis sebelumnya dari Perusahaan (i) membuat, menerbitkan, membagikan atau mengedarkan iklan-iklan, surat-surat, barang cetakan atau tulisan, (ii) mengirimkan atau menyediakan suatu berita atau informasi,  (iii) memasang iklan dalam suatu penerbitan baik cetak maupun elektronik mengenai Produk Asuransi dan/atau Perusahaan, baik atas nama sendiri maupun atas nama Perusahaan, atau (iv) memastikan bahwa menggunakan materi pemasaran dan ilustrasi yang terbaru yang dikeluarkan oleh Perusahaan.
                </li>
                <li>
                  Menggunakan barang, materi, atau fasilitas milik atau yang disediakan oleh Perusahaan untuk suatu maksud selain pemberian Jasa; dan
                </li>
                <li>
                  Membayarkan premi nasabah terlebih dahulu dan/atau membiayai premi nasabah baik secara tunai, cheque/Bilyet Giro (BG), transfer atau dengan cara pembayaran lainnya, termasuk juga membayarkan premi nasabah dengan menggunakan kartu kredit milik Agen.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          KOMISI AGEN
          <ol>
            <li>
              Dengan mempertimbangkan kinerja Agen dalam melakukan Jasa, dan selama masa berlakunya Perjanjian ini, Perusahaan akan memberikan Komisi kepada Agen atas Produk Asuransi yang berhasil dijual atau ditutup, dengan ketentuan bahwa penjualan atau penutupan tersebut telah dilakukan sesuai dengan syarat dan ketentuan dalam Perjanjianini dan Peraturan Keagenan.
            </li>
            <li>
              Komisi yang berhak diterima Agen akan dihitung berdasarkan syarat dan ketentuan dalam Ketentuan Komisi, dan ketentuan lain yang ditentukan oleh Perusahaan dari waktu ke waktu.
            </li>
            <li>
              Dalam hal terjadi perbedaan perhitungan Komisi antara Agen dan Perusahaan, maka perhitungan yang kan berlaku adalah perhitungan yang dilakukan oleh Perusahaan.
            </li>
            <li>
              Selain sebagaimana telah diatur dengan jelasdalam Pasal ini, Agen tidak berhak atasremunerasi, pembayaran, penggantian, gantirugi atau kompensasi dari Perusahaansehubungan dengan pelaksanaan Perjanjianini. Untuk menghindarkan keragu-raguan,Agen wajib untuk membayar danbertanggung jawab atas segala biaya,pengeluaran,termasuk namun tidak terbataspada biaya korespondensi, akomodasi, danbiaya-biaya lain dalam bentuk apapunsehubungan dengan atau yang diperlukanoleh Agen untuk melakukan Jasa.
            </li>
            <li>
              Dalam hal Perusahaan mengembalikan premikepada Nasabah (apa pun sebabnya), Agenwajib untuk mengembalikan setiap Komisiyang didapatkannya sehubungan denganpremi yang dikembalikannya tersebut(clawback Komisi).
            </li>
            <li>
              Dengan tunduk kepada ketentuan Pasal 4.1, Perusahaan berhak untuk menahan, mengubah atau tidak membayarkan, komisi dan/atau pendapatan lain berdasarkan Perjanjian ini, lampiran-lampirannya, dan Peraturan Keagenan apabila, menurut pendapat Perusahaan, hal tersebut diperlukan untuk mematuhi peraturan perundangan yang berlaku di Indonesia, dan dalam hal demikian Agen tidak berhak untuk mengajukan tuntutan atau gugatan apa pun kepada Perusahaan sehubungan dengan kerugian Agen akibat pelaksanaan peraturan dan perundang-undangan tersebut.
            </li>
            <li>
              Perusahaan berhak meminta Agen untuk  mengembalikan jumlah yang sudah dibayarkan kepada Agen dengan cara yang tidak sesuai peraturan perundang-undangan yang berlaku tersebut.
            </li>
            <li>
              Untuk maksud hal-hal di bawah ini:
              <ol>
                <li>
                  Agen mempunyai kewajiban yang telah jatuh tempo dan dapat ditagih kepada Perusahaan, termasuk kewajiban sebagaimana diatur dalam Pasal
                </li>
                <li>
                  Kondisi sebagaimana diatur dalam Pasal 4.5 terjadi;
                </li>
                <li>
                  Kondisi sebagaimana diatur dalam Pasal 4.6 dan/atau Pasal 4.7 terjadi; dan/atau
                </li>
                <li>
                  Kondisi sebagaimana diatur dalam Pasal 9.2 terjadi, Agen dengan ini memberikan kuasa kepada Perusahaan untuk memotong Komisi dan/atau pendapatan lain berdasarkan Perjanjian ini, lampiran-lampirannya, dan/atau Peraturan Keagenan. Dalam hal pemotongan Komisi dan/atau pendapatan lain tidak cukup untuk mengembalikan Komisi tersebut, maka Perusahaan akan memberitahu Agen secara tertulis dan Agen wajib dengan segera, namun tidak lebih dari 2 (dua) hari kerja setelah pemberitahuan tertulis dari Perusahaan, membayar jumlah yang diminta tersebut kepada Perusahaan.
                </li></ol></li></ol></li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PERNYATAAN DAN JAMINAN
          <p class="font-black">Agen dengan ini menyatakan dan menjamin bahwa:</p>
          <ol>
            <li>Agen berwenang membuat, melangsungkan dan melaksanakan Perjanjian ini dan dokumen-dokumen lain sehubungan dengan Perjanjian ini, serta telah melaksanakan semua tindakan dan persyaratan yang disyaratkan untuk sahnya penandatanganan dan pelaksanaan Perjanjian ini dan dokumen-dokumen lain sehubungan dengan Perjanjian.
            </li>
            <li>
              Perjanjian ini dan dokumen-dokumen lain sehubungan dengan Perjanjian adalah sah, berlaku dan mengikat sah dan menimbulkan kewajiban hukum terhadap Agen, sesuai dengan syarat dan ketentuan yang tercantum di dalamnya.
            </li>
            <li>
              Setiap izin, pemberian kewenangan atau persetujuan yang diperlukan oleh Agen sehubungan dengan pelaksanaan, penyerahan, keabsahan, keberlakuan Perjanjian ini atau pelaksanaannya oleh Agen atas kewajibannya menurut Perjanjian ini telah diperoleh atau dibuat dan berlaku penuh.</li></ol></li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          EVALUASI AGEN
          <p class="font-black">Perusahaan berhak untuk melakukan evaluasiatas kinerja Agen (“Evaluasi”), sesuai denganketentuan validasi sebagaimana diatur dalamLampiran II Perjanjian ini. Berdasarkan hasilEvaluasi, atas kebijakan Perusahaan,Perusahaan dapat mempromosikan,melakukan demosi atau mengakhiri Perjanjiansesuai dengan Pasal 10.3.
          </p>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PEMERIKSAAN AGEN
          <p>
            Perusahaan berhak setiap saat melakukan pemeriksaan atas seluruh kegiatan yang dilakukan oleh Agen dengan atau tanpa pemberitahuan terlebih dahulu. Selama pemeriksaan dan atas permintaan Perusahaan, Agen wajib untuk memberikan seluruh dokumen dan informasi yang dimilikinya dengan benar dan secara terperinci kepada Perusahaan.
          </p>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          TINDAKAN DISIPLIN DAN PENANGGUHAN
          <ol>
            <li>
              Dalam hal Perusahaan menemukan bahwa Agen telah melakukan Pelanggaran (sebagaimana didefinisikan dalam Pasal 9.2), maka Perusahaan dapat, atas kebijakan Perusahaan, memberikan Tindakan Disiplin (sebagaimana didefinisikan dalam Pasal 8.2) kepada Agen, atau tindakan-tindakan lain yang dianggap perlu oleh Perusahaan.
            </li>
            <li>
              Tindakan disiplin yang dapat dikenakan kepada Agen oleh Perusahaan berdasarkan Perjanjian ini (tidak wajib dikenakan secara berurutan) adalah (i) peringatan tertulis, (ii) Penangguhan, atau (iii) pengakhiran Perjanjian (“Tindakan Disiplin”).
            </li>
            <li>
              Dalam hal Agen dikenakan Tindakan Disiplin Penangguhan:
              <ol>
                <li>
                  erusahaan dapat menangguhkan sebagian atau seluruh hak Agen untuk mempromosikan, memasarkan dan menjual Produk Asuransi kepada Nasabah; dan/atau menerima Komisi dan Overriding (bila ada); dan/atau pendapatan lain berdasarkan Perjanjian ini, Peraturan Keagenan, dan lampiran-lampirannya; dan/atau hak-hak lainnya (Production Club, Kontes dan lain-lain) sesuai dengan keputusan dan batas waktu yang ditentukan oleh Perusahaan; dan
                </li>
                <li>
                  Agen tetap wajib untuk mematuhi setiap dan seluruh syarat dan ketentuan dalam Perjanjian ini.
                </li>
              </ol>
            </li>
            <li>
              Dalam hal terdapat keluhan (complaint) terhadap Perusahaan yang diduga disebabkan oleh kelalaian atau kesalahan Agen dalam melakukan Jasa, Perusahaan dapat meminta Agen untuk membantu Perusahaan dalam melakukan investigasi dan Agen wajib untuk membantu investigasi serta memberikan seluruh informasi yang dimilikinya dengan benar kepada Perusahaan. Selama masa investigasi, Perusahaan dapat, atas kebijakan Perusahaan, mengenakan Tindakan Disiplin kepada Agen dan/atau menahan Komisi.</li></ol></li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          GANTI KERUGIAN
          <ol>
            <li>
              Perusahaan berhak untuk menyelesaikan setiap keluhan (complaint) dan/atau Kerugian Nasabah sesuai dengan syarat dan ketentuan yang dianggap baik menurut kebijakan Perusahaan tanpa kewajiban untuk memberitahu atau berkonsultasi terlebih dahulu dengan Agen.
            </li>
            <li>
              Agen wajib untuk mengganti segala Kerugian yang diderita oleh Perusahaan dan/atau Nasabah sebagai akibat dari salah satu dari hal-hal di bawah ini (“Pelanggaran”):
              <ol>
                <li>
                  Kelalaian atau kesalahan Agen dalam memenuhi kewajiban dan tanggung jawab Agen sebagaimana diuraikan dalam Pasal 3; atau
                </li>
                <li>
                  Pelanggaran yang dilakukan oleh Agen atas setiap atau seluruh ketentuan dalam Perjanjian ini, lampiran-lampirannya, strategi, pedoman, perintah, Peraturan Keagenan dan/atau peraturan perundang-undangan yang berlaku, baik disengaja maupun tidak disengaja dan dengan cara apa pun; atau
                </li>
                <li>
                  Pernyataan dan/atau Jaminan yang diberikan oleh Agen dalam Perjanjian ini ternyata atau terbukti tidak benar atau tidak sesuai dengan kenyataan sebenarnya.
                </li>
              </ol>
            </li>
            <li>
              Agen dengan ini membebaskan dan melepaskan Perusahaan, pemegang saham, para anggota direksi, komisaris dan karyawannya dari segala perlawanan, tuntutan, gugatan dalam bentuk apapun dan permintaan ganti rugi dari pihak ketiga yang timbul sehubungan dengan pelaksanaan Jasa dan setiap pelanggaran yang dilakukan oleh Agen atas syarat dan ketentuan yang diatur didalam Perjanjian ini, maupun sehubungan dengan pemotongan sebagaimana diatur dalam Pasal 4.8.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          JANGKA WAKTU DAN PENGAKHIRAN PERJANJIAN
          <ol>
            <li>
              Perjanjian ini mulai berlaku terhitung sejak tanggal Perusahaan membubuhkan tanda tangannya pada Perjanjian ini, sampai suatu waktu yang tidak terbatas, kecuali diakhiri oleh salah satu Pihak berdasarkan Pasal ini.
            </li>
            <li>
              Salah satu Pihak berhak untuk mengakhiri Perjanjian ini setiap saat, dengan memberikan pemberitahuan tertulis 14 (empat belas hari) sebelumnya kepada Pihak lainnya. Kecuali ditentukan lain dalam Pasal 10.4, tidak ada satu Pihak pun yang diiwajibkan untuk membayar kompensasi dalam bentuk apapun kepada Pihak lainnya ketika pengakhiran Perjanjian terjadi. Dalam hal Agen ingin mengakhiri Perjanjian ini, maka Agen wajib untuk memberikan surat pengakhiran Perjanjian yang memuat alasan pengakhiran Perjanjian, dan pengakhiran Perjanjian tersebut akan berlaku efektif pada tanggal yang pada surat konfirmasi pengakhiran dari Perusahaan.
            </li>
            <li>
              Perusahaan berhak untuk mengakhiri Perjanjian tanpa pemberitahuan sebelumnya kepada Agen, dalam hal salah satu dari hal-hal berikut terjadi:
              <ol>
                <li>
                  Agen meninggal dunia atau menderita Cacat Total dan Tetap sebagaimana didefinisikan pada Pasal 1.1.2; atau
                </li>
                <li>
                  Agen dinyatakan dalam keadaan pailit atau diberikan penundaan kewajiban pembayaran hutang; atau
                </li>
                <li>
                  Agen terlibat atau diduga terlibat dalam perkara hukum baik pidana maupun perdata; atau
                </li>
                <li>
                  Agen melakukan Pelanggaran (sebagaimana didefinisikan dalam Pasal 9.2); atau
                </li>
                <li>
                  Agen melanggar Pasal 12; atau
                </li>
                <li>
                  Perjanjian diakhiri berdasarkan ketentuan-ketentuannya. Dengan tidak mengurangi ketentuan dalam Pasal ini, Pasal 10.3.3 tidak berlaku dalam hal menurut pendapat Perusahaan, jika Agen telah melaksanakan segala kewajibannya sesuai dengan Perjanjian ini, lampiran-lampirannya, strategi, pedoman, perintah, Peraturan Keagenan dan/atau peraturan perundang-undangan yang berlaku.</li></ol></li>
            <li>
              Dengan berakhirnya Perjanjian:
              <ol>
                <li>
                  Agen wajib untuk, dalam jangka waktu selambat-lambatnya 7 (tujuh) hari kerja terhitung sejak tanggal efektif pengakhiran Perjanjian, mengembalikan setiap dan seluruh dokumen-dokumen dan barang-barang milik Perusahaan, baik dalam format elektronik maupun cetak.
                </li>
                <li>
                  Para Pihak wajib menyelesaikan setiap dan segala kewajiban berdasarkan Perjanjian ini dan lampiran-lampirannya, serta perjanjian lain yang dibuat oleh dan antara Agen dan Perusahaan, dan Peraturan Keagenan, dalam jangka waktu selambat-lambatnya 7 (tujuh) hari kerja terhitung sejak tanggal pengakhiran Perjanjian.
                </li>
                <li>
                  Agen tidak berhak untuk menuntut atau menerima Komisi atau pendapatan lain berdasarkan Perjanjian ini, lampiran-lampirannya, dan Peraturan Keagenan, terhitung setelah tanggal efektif pengakhiran Perjanjian ini (selain daripada jumlah yang telah jatuh tempo dan dapat dibayarkan kepada Agen sebelum tanggal efektif berakhirnya Perjanjian ini).
                </li>
                <li>
                  Pasal 9, Pasal 11.1, Pasal 13 dan Pasal 14 akan tetap berlaku dan mengikat Para Pihak.
                </li>
              </ol>
            </li>
            <li>
              Agen wajib untuk setiap saat, atas permintaan Perusahaan (walaupun Perjanjian telah berakhir), hadir di kantor Perusahaan dan memberikan seluruh informasi yang dimilikinya dengan benar kepada Perusahaan, atau menghadiri setiap persidangan atau panggilan sebagai saksi, untuk memberikan bukti, informasi mengenai Nasabah, Jasa, atau Perjanjian ini.
            </li>
            <li>
              Dalam hal pengakhiran Perjanjian ini, Para Pihak mengesampingkan berlakunya Pasal 1266 Kitab Undang-Undang Hukum Perdata sepanjang diperlukannya putusan pengadilan bagi pengakhiran Perjanjian ini.</li></ol></li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PEMBATASAN
          <ol>
            <li>
              Selama berlakunya Perjanjian ini dan untuk seterusnya setelah Perjanjian ini berakhir, Agen dilarang untuk secara langsung maupun tidak langsung dan dalam kapasitas apa pun:
              <ol>
                <li>
                  Membujuk atau dengan cara apa pun membuat Nasabah membatalkan (surrender) polis Perusahaan atau membiarkan polis Perusahaan tidak berlaku (lapse); dan
                </li>
                <li>
                  Membujuk atau dengan cara apapun (i) membuat agen atau karyawan Perusahaan mengakhiri hubungan keagenan atau hubungan kerjanya dengan Perusahaan, atau (ii) mempekerjakan agen atau karyawan Perusahaan.
                </li>
              </ol>
            </li>
            <li>
              Selama berlakunya Perjanjian ini, Agen dilarang untuk secara langsung maupun tidak langsung dan dalam kapasitas apa pun terlibat dalam atau melakukan perdagangan, transaksi, atau pekerjaan apa pun selain dalam hubungannya dengan Jasa. Secara khusus, Agen dilarang untuk, secara langsung maupun tidak langsung, terlibat dengan, baik atas namanya sendiri maupun atas nama atau yang berhubungan dengan orang lain, terlibat dalam setiap kegiatan bisnis yang serupa atau berkompetisi dengan Perusahaan.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PEBAYARAN
          <ol>
            <li>
              Agen wajib untuk memberikan Tanda Terima Resmi kepada Nasabah;
            </li>
            <li>
              Agen wajib mengidentifikasi pembayaran premi Produk Asuransi secara tepat; dan
            </li>
            <li>
              Agen wajib untuk menyetorkan pembayaran premi Produk Asuransi kepada Perusahaan, tanpa dikurangi apa pun, dalam jangka waktu paling lama 48 (empat puluh delapan) jam terhitung sejak Agen menerima premi tersebut.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          KEKAYAAN INTELEKTUAL
          <ol>
            <li>
              Setiap Kekayaan Intelektual, termasuk Logo Perusahaan, hanya dapat digunakan oleh Agen semata-mata untuk melaksanakan Jasa sesuai dengan syarat dan ketentuan dalam Perjanjian ini. Para Pihak dengan ini setuju bahwa seluruh Kekayaan Intelektual, termasuk Logo Perusahaan, adalah milik Perusahaan dan/atau afiliasinya.
            </li>
            <li>
              Agen tidak diperkenankan untuk mengubah, mendaftarkan, memodifikasi dan/atau menggunakan Kekayaan Intelektual, termasuk Logo Perusahaan untuk maksud apa pun, tanpa persetujuan tertulis terlebih dahulu dari Perusahaan.
            </li>
            <li>
              Agen tidak diperkenankan untuk menggunakan, mengedarkan, mendistribusikan, menggandakan atau memperbanyak, baik secara langsung maupun tidak langsung, setiap kekayaan intelektual yang dimiliki oleh pihak ketiga manapun, termasuk namun tidak terbatas pada setiap hak paten, hak cipta, hak merek, rahasia dagang, hasil karya, desain, metode, teknik, proses, prosedur, ilustrasi, baik terdaftar maupun tidak, baik dalam bentuk cetak, audio atau video (selanjutnya disebut “Penggunaan Kekayaan Intelektual”), tanpa mendapatkan persetujuan tertulis terlebih dahulu dari pihak ketiga pemilik kekayaan intelektual tersebut. 
            </li>
            <li>
              Agen akan bertanggung jawab sepenuhnya atas segala Penggunaan Kekayaan Intelektual tersebut dan akan membebaskan serta melepaskan Perusahaan, pemegang saham, para anggota direksi, komisaris dan karyawannya dari segara perlawanan, tuntutan, gugatan dalam bentuk apapun dan permintaan ganti rugi dari pihak ketiga yang timbul dari Penggunaan Kekayan Intelektual tersebut.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          KERAHASIAAN
          <ol>
            <li>
              Agen wajib menjamin bahwa:
              <ol>
                <li>
                  Semua Informasi Rahasia harus: (1) digunakan semata-mata untuk maksud sebagaimana yang telah ditentukan; (2) diperlakukan dengan tingkat kerahasiaan tinggi; (3) tidak digandakan kecuali bila memang benar-benar dibutuhkan untuk keperluan resmi; dan (4) dikembalikan dan/atau dihancurkan sesuai dengan petunjuk dari Perusahaan.
                </li>
                <li>
                  Pengamanan dan pengawasan yang tepatdilakukan untuk melindungi dan menjaga semuaInformasi Rahasia Perusahaan dari penggunaandan/atau pengungkapan ke pihak ketiga yang tidaksah. Pengamanan dan pengawasan tersebuttermasuk tetapi tidak terbatas pada: i) dalam halInformasi Rahasia berbentuk dokumen,mengamankan tempat peralihan dan tempatpenyimpanannya; dan ii) dalam hal Informasi Rahasiaberbentuk media elektronik, menggunakan programanti-virus standar yang terkini yang digunakan dalamindustri dan menggunakan piranti lunak pengarsipanatas semua peralatan komputer, laptop dankomputer jinjing.
                </li>
              </ol>
            </li>
            <li>
              Kewajiban untuk menjaga kerahasiaan sebagaimana dimaksud dalam Pasal 14 ini tidak berlaku terhadap informasi:
              <ol>
                <li>
                  yang ada, atau telah menjadi bagian dariranah publik, bukan sebagai akibat dari pelanggaranatas kewajiban menjaga kerahasiaan berdasarkanPerjanjian ini; atau
                </li>
                <li>
                  telah ada di dalam penguasaan Agensebelum dimulainya Perjanjian ini; atau
                </li>
                <li>
                  telah diungkapkan oleh pihak ketiga yangberhak untuk mengungkapkannya; atau
                </li>
                <li>
                  diminta untuk diungkapkan oleh hukum yangberlaku, atau atas perintah pengadilan atau badanpemerintah atau lembaga yang memiliki yurisdiksiuntuk itu.
                </li>
              </ol>
            </li>
            <li>
              Setiap adanya pelanggaran dari Pasal 14ini dapat mengakibatkan diberikannya sanksiindisipliner oleh Perusahaan.
            </li>
            <li>
              Pasal 14 ini akan tetap berlaku meskiPerjanjian Keagenan ini telah berakhir ataukadaluarsa.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PEMBERITAHUAN
          <ol>
            <li>
              Seluruh surat menyurat, pemberitahuan, ataukomunikasi apapun berdasarkan Perjanjian inidari satu Pihak kepada Pihak lainnya wajibuntuk dibuat secara tertulis dan dikirimkanmelalui pos tercatat atau melalui perusahaanekspedisi (kurir) atau kurir internal ataufaksimili dengan alamat dan nomorsebagaimana tertera dalam Perjanjian ini, atauperubahannya sebagaimana diberitahukansecara tertulis dari waktu ke waktu.
            </li>
            <li>
              Surat-menyurat atau pemberitahuan-pemberitahuan dan/atau komunikasi kealamat tersebut di atas, dianggap telahditerima dengan ketentuan sebagai berikut:
              <ol>
                <li>
                  Pada hari yang sama, apabila diserahkanlangsung yang dibuktikan dengan tanda tanganpenerima pada buku pengantar surat (ekspedisi)atau tanda terima lain yang diterbitkan oleh ParaPihak.
                </li>
                <li>
                  Pada hari yang sama, apabila dikirimkanmelalui faksimili dan diterima dengan hasil yang baikoleh Para Pihak setelah ada konfirmasi hasil faksimili.
                </li>
                <li>
                  ada hari kerja berikutnya setelah tanggalpenerimaan, apabila dikirimkan melalui pos yangdibuktikan dengan resi penerimaan pos tercatat.
                </li>
              </ol>
            </li>
            <li>
              Dalam hal terjadi perubahan alamat ParaPihak, maka perubahan tersebut harusdiberitahukan secara tertulis kepada Pihaklainnya dalam Perjanjian ini selambat-lambatnya 5 (lima) hari kerja sebelumperubahan alamat dimaksud berlaku efektif.
            </li>
            <li>
              Jika perubahan alamat tidak diberitahukan,maka surat-menyurat atau pemberitahuan-pemberitahuan sehubungan dengan Perjanjianini dianggap telah diterima apabila dikirimdengan cara sebagaimana diatur dalam Pasal15.1 dan Pasal 15.2 Perjanjian ini, danditujukan ke alamat di atas atau alamatsebagaimana diubah sesuai dengan Pasal 15.3 Perjanjian ini.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          HUKUM YANG BERLAKU
          <p class="font-black">
            Perjanjian ini diatur oleh dan harus ditafsirkan serta dilaksanakan berdasarkan hukum yang berlaku di Negara Republik Indonesia.
          </p>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PENYELESAIAN PERSELISIHAN
          <ol>
            <li>
              Dalam hal terjadi perselisihan di antara ParaPihak mengenai pelaksanaan Perjanjian ini,maka Para Pihak sepakat untuk terlebih dahulumenyelesaikannya secara musyawarah.
            </li>
            <li>
              Jika melalui cara penyelesaian tersebut di atastidak tercapai kesepakatan, maka Para Pihaksepakat untuk menyelesaikannya melaluiPengadilan Negeri dan untuk itu Para Pihakmemilih domisili hukum yang tetap dan tidakberubah di Kantor Kepaniteraan PengadilanNegeri Jakarta Selatan.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          LAIN-LAIN
          <ol>
            <li>
              Lampiran
              <p class="font-black">
                Lampiran dari Perjanjian ini merupakan satu kesatuan dan bagian yang tidak dapat dipisahkan serta mempunyai kekuatan hukum yang sama serta mengikat seperti halnya pasal-pasal lain dari Perjanjian ini.
              </p>
            </li>
            <li>
              Kuasa
              <p class="font-black">
                Semua kuasa dan wewenang yang diberikan oleh Agen dalam Perjanjian ini merupakan bagian terpenting dan tidak terpisahkan dari Perjanjian ini dan sebagai demikian maka kuasa dan wewenang tersebut tidak dapat ditarik/dicabut kembali dan juga tidak menjadi berakhir/hapus jika Agen meninggal dunia atau karena timbul peristiwa apa pun dan Para Pihak dengan ini melepaskan dan menyatakan tidak berlaku Pasal 1813, Pasal 1814 dan Pasal 1816 Kitab Undang-undang Hukum Perdata.
              </p>
            </li>
            <li>
              Pengalihan
              <p class="font-black">
                Perjanjian ini berlaku dan mengikat terhadap Para Pihak  maupun para penerima dan penerus hak dan kewajiban dalam Perjanjian ini, dengan ketentuan bahwa  Para Pihak tidak dapat mengalihkan atau melepaskan hak dan/atau kewajibannya berdasarkan Perjanjian ini kepada pihak lain tanpa persetujuan tertulis terlebih dahulu dari Pihak lainnya.
              </p>
            </li>
            <li>
              Keabsahan Perjanjian
<p class="font-black">
  Apabila sebagian dari ketentuan-ketentuan dalam Perjanjian ini bertentangan dengan peraturan perundang-undangan yang berlaku atau tidak dapat dilaksanakan karena sebab apa pun, maka hal ini tidak mempengaruhi keabsahan dan pelaksanaan dari ketentuan-
ketentuan lainnya dalam Perjanjian ini.
              </p>
            </li>
            <li>
              Agen Bukan Karyawan
<p class="font-black">
  Tidak ada satu pun dari ketentuan-ketentuan dalam Perjanjian ini yang dapat diartikan sebagai menciptakan hubungan ketenagakerjaan antara Perusahaan dan Agen baik secara tegas maupun diam-diam.
              </p>
            </li>
            <li>
              Perubahan
              <ol>
                <li>
                  erusahaan dapat mengubah, menambah atau memodifikasi syarat dan ketentuan dalam Perjanjian, lampiran-lampirannya, Peraturan Keagenan dan/atau Ketentuan Komisi dengan pemberitahuan kepada Agen.
                </li>
                <li>
                  Dengan tunduk pada Pasal 18.6.1, tidak ada perubahan, penambahan atau modifikasi pada Perjanjian, lampiran-lampirannya, Peraturan Keagenan dan/atau Ketentuan Komisi kecuali dibuat secara tertulis dan ditandatangani oleh pihak yang berwenang dari Perusahaan.
                </li>
              </ol>
            </li>
            <li>
              Inkonsistensi
              <p class="font-black">
                Dalam hal terdapat konflik atau inkonsistensi antara ketentuan dalam Perjanjian ini dan ketentuan-ketentuan dalam Peraturan Keagenan maka ketentuan yang berlaku adalah ketentuan yang paling akhir dikeluarkan oleh Perusahaan.
              </p>
            </li>
            <li>
              Pelepasan
              <p class="font-black">
                Perusahaan tidak akan dianggap telah mengesampingkan suatu ketentuan dalam Perjanjian ini, kecuali pengesampingan tersebut adalah secara tertulis dan ditandatangani oleh Perusahaan. Kelalaian Perusahaan untuk menjalankan suatu hak menurut Perjanjian ini atau kelalaian Perusahaan untuk memaksa agar Agen dengan taat mematuhi syarat-syarat Perjanjian ini bukan merupakan suatu penolakan dari syarat-syarat Perjanjian ini dan bukan dianggap sebagai suatu pengesampingan oleh Perusahaan atas haknya untuk di kemudian hari meminta kepatuhan atas syarat-syarat Perjanjian ini.
              </p>
            </li>
            <li>
              Pajak
              <ol>
                <li>
                  Para Pihak setuju bahwa pembayaran Komisi, overriding, dan tunjangan apa pun menurut Perjanjian ini masih berupa pembayaran kotor (gross), dalam artian di dalam pembayaran tersebut termasuk Pajak Pertambahan Nilai (PPN) dan Pajak Penghasilan (PPh) serta kewajiban perpajakan lainnya sesuai dengan peraturan perpajakan yang berlaku yang menjadi tanggung jawab Agen.
                </li>
                <li>
                  Agen yang sudah dikukuhkan sebagai Pengusaha Kena Pajak (PKP) oleh Kantor Pelayanan Pajak setempat, wajib menerbitkan Faktur Pajak selambatnya pada hari terakhir bulan berjalan, dan mengirimkannya kepada Perusahaan, selambat-lambatnya tanggal 10 bulan berikutnya.
                </li>
              </ol>
            </li>
            <li>
              Akses Informasi
              <p class="font-black">
                Perusahaan dapat, atas kebijakan Perusahaan, sewaktu-waktu membatasi atau menutup akses informasi Agen terhadap sistem informasi Perusahaan.
              </p>
            </li>
            <li>
              Anti Suap dan Korupsi
              <p class="font-black">
                Dalam melaksanakan kewajiban-kewajiban berdasarkan Perjanjian Keagenan, Agen wajib:
              </p>
              <ol>
                <li>
                  Tunduk pada seluruh peraturan dan perundang-undangan yang berlaku mengenai anti suap dan korupsi;
                </li>
                <li>
                  Tidak menawarkan dan/atau menerima suap atau Pembayaran Fasilitasi apapun kepada pejabat publik atau pihak manapun lainnya; dan
                </li>
                <li>
                  Tidak melakukan hal apapun yang dapat menyebabkan Perusahaan atau setiap afiliasinya melanggar peraturan perundang-undangan mengenai anti suap dan korupsi.
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
      <p class="font-black marg-top-20">Untuk menghindari keraguan, yang dimaksud dengan Pembayaran Fasilitasi adalah pembayaran yang dilakukan sebagai upaya untuk mengamankan atau mempercepat proses kinerja rutin atau tindakan yang diperlukan, yang mana kita memiliki hak hukum atasnya. Pembayaran Fasilitasi bukanlah pembayaran untuk layanan yang tarifnya dipublikasikan secara umum dan tersedia untuk semua pihak, namun seperti proses "jalur cepat".
      </p>
      <p class="font-black black marg-top-20 marg-bot-15">
      Agen wajib segera memberitahukan Perusahaan secara tertulis atas setiap potensi pelanggaran atau pelanggaran yang terjadi atas pasal ini. Apabila Agen melanggar atau terdeteksi melanggar pasal ini, Perusahaan dapat setiap saat mengakhiri Perjanjian Keagenan tanpa kewajiban apapun
      </p>

      <hr class="marg-top-10 marg-bot-10">
      <div class="row pad-0">
        <div class="col col-33 pad-0">LAMPIRAN I</div><div class="col col-67 pad-0">Ketentuan Komisi Untuk Agency</div>
      </div>
      <hr class="marg-top-10 marg-bot-10">
      <div class="row pad-0">
        <div class="col col-33 pad-0">LAMPIRAN II</div><div class="col col-67 pad-0">Validasi Promosi dan Validasi<br> 
        Maintenance</div>
      </div>
      <hr class="marg-top-10 marg-bot-10">
      <div class="row pad-0">
        <div class="col col-33 pad-0">LAMPIRAN III</div><div class="col col-67 pad-0">Keagenan<br>
        Standar Praktik Kode Etik Agen<br>Asuransi Jiwa</div>
      </div>

      <hr class="marg-top-10 marg-bot-10">
      <div class="form-group  marg-top-50" ng-controller="submitCtrl">
        <button ng-click="appNext('syarat-dan-ketentuan-keagenan-checked')" class="button button-assertive button-block">Setuju</button>
      </div>

    </div>
  </ion-content>
  <div ng-click="scrollTop()" class="back-to-top">
    <i class="ion-chevron-up"></i>
  </div>
</ion-view>