<ion-view view-title="Syarat & ketentuan keagenan" ng-controller="baseCtrl">
  <ion-header-bar align-title="left" class="bar-assertive">
      <a class="left-buttons" ng-href="#/">
        <button menu-toggle="left" class="button button-icon icon ion-ios-arrow-back"></button>
      </a>
      <h1 class="title">LEMBAR PERSETUJUAN</h1>
    </ion-header-bar>

    <ion-content class="has-header">
      <div class="heading-main-content">
        <h3>PERNYATAAN KEAGENAN</h3>
      </div>

      <div class="content-main-description">

        <div class="landing">
          <p>
            Sehubungan dengan pengajuan dan pendaftaran Agen selaku calon Agen PT Prudential Life Assurance (“Perusahaan”), Agen mengerti bahwa selain tunduk kepada Perjanjian Keagenan serta Syarat dan Ketentuan yang telah Agen sepakati sebelumnya, Agen juga harus menyerahkan kelengkapan dokumen sebagaimana dipersyaratkan oleh Perusahaan. Sehubungan dengan penyerahan dokumen dimaksud, maka Agen dengan ini menyatakan beberapa hal sebagai berikut:
          </p>
        </div>

        
        <div class="list-desc">
          <ol >
            <li>
              Agen menyatakan bahwa fotokopi Kartu Tanda Penduduk (KTP) yang Agen serahkan adalah benar milik Agen yang dikeluarkan secara sah oleh Pemerintah Daerah setempat. Apabila terdapat ketidaklengkapan atau perbedaan antara nama Agen yang tertera pada KTP dengan dokumen lainnya, maka Agen bersedia untuk menyerahkan kelengkapan dokumen lainnya sebagaimana dapat dimintakan oleh Perusahaan dari waktu ke waktu, termasuk namun tidak terbatas pada penetapan pengadilan dalam hal terjadi perubahan nama.
            </li>
            <hr class="list-item-divider">
            <li>
              Agen menyatakan bahwa fotokopi Nomor Pokok Wajib Pajak (NPWP) yang Agen serahkan kepada Perusahaan adalah benar milik Suami/Ayah Agen serta memuat seluruh data yang sama dan identik dengan asli NPWP yang dikeluarkan oleh Kantor Pelayanan Pajak. Selanjutnya apabila dipersyaratkan oleh peraturan perundang-undangan yang berlaku untuk memiliki NPWP atas nama pribadi, Agen akan mengajukan permohonan untuk memperoleh NPWP ke Kantor Pelayanan Pajak yang berwenang.
            </li>
            <hr class="list-item-divider">
            <li>
              Dalam hal terdapat perbedaan nama antara KTP dan Buku Rekening/Tabungan, maka Agen dengan ini menyatakan bahwa fotokopi Buku Rekening/Tabungan yang Agen serahkan adalah sesuai dengan aslinya dan tidak ada satu atau lebih data dalam fotokopi tersebut yang Agen ubah atau hilangkan dengan sengaja maupun tidak sengaja.
            </li>
            <hr class="list-item-divider">
            <li>
              Agen menyatakan bahwa seluruh pernyataan Agen di atas adalah benar, dan apabila ditemukan bahwa salah satu dari pernyataan atau dokumen yang Agen serahkan adalah tidak benar atau tidak akurat, maka segala kerugian materiil dan immaterial yang dialami atau mungkin dialami oleh Perusahaan, serta tuntutan dan/atau gugatan yang timbul atau mungkin timbul di kemudian hari yang ditujukan kepada Perusahaan yang diakibatkan oleh ketidakbenaran atau ketidakakuratan tersebut sepenuhnya menjadi tanggung jawab Agen.
            </li>
            <hr class="list-item-divider">
          </ol>
        </div>

        <div class="padd-syarat m-bottom-15">
          <button class="button button-assertive margin-0 button-full">
          Setuju
        </button>
        </div>
        

        
      </div>
    </ion-content>
    
     <div ng-click="scrollTop()" class="back-to-top">
      <i class="ion-chevron-up"></i>
    </div>
</ion-view>


