<ion-header-bar align-title="left" class="bar-assertive">
    <a class="left-buttons" href="#" ng-click="goBack()">
        <button menu-toggle="left" class="button button-icon icon ion-ios-arrow-back"></button>
    </a>
    <h1 class="title text-uppercase">Setting</h1>
</ion-header-bar>
<ion-view view-title="Setting">
    <ion-content>
        <div class="container setting-app">
            <div class="content">
                <div class="news-list">
                    <div class="text-left">VERSION</div>
                    <div class="versi">
                        <h>Version 1.2.3</h2>
                    </div>
                </div>
                <div class="news-list" ng-click="ChangePassword()">
                    <div class="text-left">
                        Change Password
                    </div>
                    <div class="versi">
                        <i class="ri ion-ios-arrow-forward"></i>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>