<ion-view view-title="Ujian Kode Etik Perusahaan Lulus" ng-controller="calonAgenCtrl">
  <ion-header-bar align-title="left" class="bar-assertive">
    <a class="left-buttons" ng-href="#/">
      <button menu-toggle="left" class="button button-icon icon ion-ios-arrow-back"></button>
    </a>
    <h1 class="title title-left">KONFIRMASI UJIAN AAJI</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="content-standard marg-top-30">
      <h3 class="text-center">Hasil Ujian</h3>
      <div class="score extra-margin">
        <p class="score-text">80<span class="score-text-result">LULUS</span></p>
      </div>
      <h4 class="text-center">Anda Berhasil.<br/>Anda menjawab dengan<br/> benar 17 dari 20 pertanyaan.</h4>
    </div>
  </ion-content>
</ion-view>