<ion-view view-title="Create Password">
  <div class="content content-red">
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text">
      <form>
        <div class="form-group">
          <input class="form-control" name="password" type="password" placeholder="Masukan password yang diinginkan">
        </div>
        <div class="form-group">
          <input class="form-control" name="password" type="password" placeholder="Ulangi password">
        </div>
        <div class="form-group">
          <button type="submit" class="button button-block button-light text-uppercase">Masuk</button>
          <a href="#" class="button button-block button-transparent">Batal</a>
        </div>
        <div class="form-group text-small text-bold">
          <p>Password harus:</p>
          <ul>
            <li>Tidak mengandung spasi</li>
            <li>Sekurang-kurangnya mengandung 1 buah angka</li>
            <li>Sekurang-kurangnya mengandung 1 buah huruf</li>
            <li>Kombinasi huruf kecil dan besar</li>
            <li>Tidak mengandung karakter (-#&"^%)</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</ion-view>