<ion-view view-title="Ganti Password" ng-controller="passwordCtrl">
  <div class="content content-red">
    <ion-content>
      <a href="#/c-login-v2" class="btn-back">
        <i class="ion-android-arrow-back"></i>
      </a>
      <div class="logo">
        <h1>
          <a href="#">
            <img src="/img/PRUforce-logo.png" alt="PRUforce" />
          </a>
        </h1>
      </div>
      <div class="content-red-text">
        <h4 class="marg-bot-25 marg-top-40">Ganti Password</h4>
        <form>
          <div class="form-group">
            <input class="form-control" name="old-password" type="password" placeholder="Password Lama">
          </div>
          <div class="form-group">
            <input class="form-control" name="new-password" type="password" placeholder="Password Baru">
          </div>
          <div class="form-group">
            <input class="form-control" name="confirm-new-password" type="password" placeholder="Konfirmasi Password Baru">
          </div>
          <div class="form-group">
            <button type="submit" class="button button-block button-light text-uppercase" ng-click="failurConfirmPassPopup()">Ubah Password</button>
          </div>
        </form>
      </div>
    </ion-content>
  </div>
</ion-view>