<ion-view view-title="Forgot Password">
  <div class="content content-red">
    <a href="#" class="btn-back">
      <i class="ion-android-arrow-back"></i>
    </a>
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text">
      <h3>Lupa Password</h3>
      <form>
        <div class="form-group">
          <input class="form-control" name="pru-id" type="number" placeholder="Masukan PRUforce ID">
        </div>
        <div class="form-group">
          <input class="form-control" name="question-1" type="text" placeholder="Masukan makanan favorit anda?">
        </div>
        <div class="form-group">
          <input class="form-control" name="question-2" type="text" placeholder="Siapakah nama hewan peliharaan anda?">
        </div>
        <div class="form-group">
          <select name="gelar" placeholder="Gelar" class="form-control valid" aria-invalid="false">
            <option>Mr</option>
            <option>Mrs</option>
          </select>
        </div>
        <div class="form-group">
          <a href="#" class="button button-transparent button-block pru-logo text-center">Lupa pertanyaan keamanan?</a>
        </div>
        <div class="form-group">
          <button type="submit" class="button button-block button-light text-uppercase">Verifikasi</button>
        </div>
      </form>
    </div>
  </div>
</ion-view>