<ion-view view-title="Nomor Pengajuan Agen (NPA)">
  <div class="content content-red compact">
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text">
      <h2>Nomor Pengajuan agen (NPA)</h2>
      <form>
        <div class="form-group">
          <input class="form-control" name="username" type="text" placeholder="Masukan PRUforce ID">
        </div>
        <div class="form-group">
          <p class="text-center pad-sides-25">
            <small>Link aktivasi telah dikirimkan pada email kandidat, dimohon segera melakukan aktivasi.</small>
          </p>
          <p class="text-center pad-sides-25">
            <small>Calon Agen harus mengikuti pelatihan dan lulus Ujian Peraturan dan Kode Etik Perusahaan agar Formulir Perekrutan dapat diproses.</small>
          </p>
        </div>
        <div class="form-group text-center">
          <a href="#/r-candidate" class="button button-transparent">Daftarkan kandidat lain</a>
          <a href="#" class="button button-block button-light text-uppercase button-small">Lanjut mengisi formulir perekrutan</a>
          <a href="#" class="button button-block button-light text-uppercase button-small">Kembali ke halaman awal</a>
        </div>
      </form>
    </div>
  </div>
</ion-view>