<ion-view view-title="Change Password">
  <div class="content content-red">
    <a href="#" class="btn-back">
      <i class="ion-android-arrow-back"></i>
    </a>
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text top-space">
      <form>
        <div class="form-group text-center marg-bot-30">
          <label class="pru-logo-text"><strong>PRU</strong><em>force</em> ID</label>
          <input class="form-control" name="password" type="text" placeholder="Pruforce ID">
        </div>
        <div class="form-group text-center">
          <label>Password</label>
          <input class="form-control" name="password" type="password" placeholder="Password">
        </div>
        <div class="form-group">
          <button type="submit" class="button button-block button-light text-uppercase marg-0">Ganti Password</button>
          <a href="#/c-login-v2" class="button button-block button-light text-uppercase">Kembali ke halaman login</a>
        </div>
      </form>
    </div>
  </div>
</ion-view>