<ion-view view-title="Pemulihan PRUforce ID">
  <div class="content content-red compact">
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text top-space">
      <h4 class="marg-bot-30 pru-logo-text">Pemulihan <strong>PRU</strong><em>force</em> ID</h4>
      <form>
        <div class="form-group">
          <input class="form-control disabled" name="question-1" type="text" value="Warna favorit Anda">
        </div>
        <div class="form-group">
          <input class="form-control" name="question-1" type="text" placeholder="Jawaban 1">
        </div>
        <div class="form-group">
          <input class="form-control disabled" name="question-1" type="text" value="Nama hewan peliharaan Anda">
        </div>
        <div class="form-group">
          <input class="form-control" name="question-2" type="text" placeholder="Jawaban 2">
        </div>
        <div class="form-group marg-top-30">
          <button class="button button-block button-light text-uppercase marg-0" ng-click="successPopup()">Lanjut</button>
          <a href="#" class="button button-block button-light text-uppercase">Kembali ke halaman login</a>
        </div>
      </form>
    </div>
  </div>
</ion-view>