<ion-view view-title="Security Info">
  <div class="content content-red compact">
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text">
      <h3>Pertanyaan Keamanan</h3>
      <form>
        <div class="form-group">
          <select class="selectpicker content-red-select" title="Pilih pertanyaan 1">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" name="question-1" type="text" placeholder="Masukan makanan favorit anda?">
        </div>
        <div class="form-group">
          <select class="selectpicker content-red-select" title="Pilih pertanyaan 1">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" name="question-2" type="text" placeholder="Siapakah nama hewan peliharaan anda?">
        </div>
        <div class="form-group">
          <select class="selectpicker content-red-select" title="Pilih pertanyaan 1">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" name="question-2" type="text" placeholder="Siapakah nama hewan peliharaan anda?">
        </div>
        <div class="form-group">
          <button type="submit" class="button button-block button-light text-uppercase marg-0">Verifikasi</button>
        </div>
      </form>
    </div>
  </div>
</ion-view>