<ion-view view-title="Verifikasi Data Agen">
  <div class="content content-red">
    <ion-content>
    <div class="logo">
      <h1>
        <a href="#">
          <img src="/img/PRUforce-logo.png" alt="PRUforce" />
        </a>
      </h1>
    </div>
    <div class="content-red-text top-space">
      <h4 class="marg-bot-30">Verifikasi Data Agen</h4>
      <form>
        <div class="form-group  ">
          <input class="form-control" name="agen-code" type="number" placeholder="Kode Agen">
        </div>
        <div class="form-group">
          <input class="form-control arriveTime " name="dob"  type="text" onfocus="(this.type='date')" placeholder="Tanggal Lahir" style="padding-top:15px!important;   padding-left: 30px;">
        </div>
        <div class="form-group">
          <input class="form-control" name="id-number" type="text" placeholder="Nomor KTP">
        </div>
        <div class="form-group">
          <input class="form-control" name="phone-number" type="text" placeholder="Nomor handphone terdaftar">
        </div>
        <div class="form-group">
          <button type="submit" class="button button-block button-light marg-bot-65  text-uppercase">Verifikasi</button>
        </div>
      </form>
    </div>
    </ion-content>
  </div>
</ion-view>