<ion-side-menus enable-menu-with-back-views="false">
  <!-- Left menu -->
  <ion-side-menu side="left">
    <div class="bar bar-header bar-assertive">
      <h1 class="title"></h1>
    </div>
    <div class="list list-empty has-header">
      <a href="#" class="item item-icon-left" href="#/a-form-rekrut">
        <i class="icon medium-icon ion-clipboard assertive"></i>
        Rekrutment
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-ribbon-b assertive"></i>
        Pencapaian
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-monitor assertive"></i>
        Kinerja
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-trophy assertive"></i>
        Kontes
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-compose assertive"></i>
        Keterangan
      </a>
      <a href="#" class="item item-icon-left" href="#">
        <i class="icon medium-icon ion-clipboard assertive"></i>
        FAQ
      </a>
    </div>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive  bar-logo with-grey-bottom">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <!-- <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios-bell"></button>
      </ion-nav-buttons> -->
    </ion-nav-bar>
    <ion-view view-title="Dashboard">
      <ion-content class="has-header">
        <div class="list list-empty">
          <div class="item item-wrapper" href="#">
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-checkmark balanced"></i>
              <h2>Application Pack</h2>
              <p>4 dari 4 selesai</p>
            </a>
            <div class="list sub-list">
              <a class="item item-icon-left" href="#/data-kandidat">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Data Kandidat</p>
                <small>100% selesai pada 18 Agustus 2015</small>
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Application Pack</p>
                <small>100% selesai pada 18 Agustus 2015</small>
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Dokumen Pendukung</p>
                <small>100% selesai pada 18 Agustus 2015</small>
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Syarat &amp; Ketentuan</p>
                <small>100% selesai pada 18 Agustus 2015</small>
              </a>
            </div>
          </div>
          <div class="item item-wrapper" href="#">
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-checkmark balanced"></i>
              <h2>Peraturan & Kode etik perusahaan</h2>
              <p>2 dari 2 selesai</p>
            </a>
            <div class="list sub-list">
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Training Material</p>
                <small>4 dari 4 selesai</small>
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Ujian Peraturan & Kode Etik Perusahaan </p>
                <small>4 dari 4 selesai</small>
              </a>
            </div>
          </div>
          <div class="item item-wrapper" href="#">
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-checkmark balanced"></i>
              <h2>PRUfast start</h2>
              <p>1 dari 1 dimulai</p>
            </a>
            <div class="list sub-list">
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Training & Ujian</p>
                <small>4 dari 4 selesai</small>
              </a>
            </div>
          </div>
          <div class="item item-wrapper" href="#">
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-checkmark balanced"></i>
              <h2>AAJI</h2>
              <p>2 dari 2 selesai</p>
            </a>
            <div class="list sub-list">
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Pendaftaran jadwal ujian</p>
                <small>4 dari 4 selesai</small>
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Surat Informasi Ujian</p>
                <small>4 dari 4 selesai</small>
              </a>
              <a class="item item-icon-left" href="#/data-kandidat-pack">
                <i class="icon ion-ios-checkmark balanced"></i>
                <p>Ujian AAJI</p>
                <small>4 dari 4 selesai</small>
              </a>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>

</ion-side-menus>