<ion-content class="has-header-tabs">
  <div class="card" flex>
    <form name="formCreateCreatepilihProduk" class="default-form">
      <div layout="column">
        <div class="marg-right-md-10" flex="100">
          <md-input-container class="md-icon-float md-block">
            <label>Nomor SPAJ/Polis</label>
            <md-icon aria-label="person" class="material-icons"><i class="pru-icons pf-icon-pru-icon_agreement"></i></md-icon>
            <input ng-model="CreatepilihProduk.nospaj" type="text" required>
            <div ng-messages="noSpaj.nospaj.$error">
              <div ng-message="required">Harus diisi.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Jenis Produk</label>
            <md-icon aria-label="person" class="material-icons"><i class="pru-icons pf-icon-pru-icon_contract"></i></md-icon>
            <input ng-model="CreatepilihProduk.jenisProduk" type="text" required>
            <div ng-messages="formPillihProduk.jenisProduk.$error">
              <div ng-message="required">Harus diisi.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Nama Produk</label>
            <md-icon aria-label="person" class="material-icons"><i class="pru-icons pf-icon-pru-icon_contract"></i></md-icon>
            <input ng-model="CreatepilihProduk.name" type="text" required>
            <div ng-messages="CreatepilihProduk.name.$error">
              <div ng-message="required">Harus diisi.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float md-block marg-bot-0" flex-gt-sm>
            <label>Frekuensi Pembayaran</label>
            <md-icon aria-label="person" class="material-icons"><i class="pru-icons pf-icon-pru-icon_money"></i></md-icon>
            <md-select ng-model="pilihProduk.pembayaranFrekuensi">
              <md-option value="{{pilihProduk.pembayaranFrekuensi}}">Bulanan</md-option>
              <md-option value="tigaBulan">Tiga Bulanan</md-option>
              <md-option value="setengahTahunan">Setengah Tahunan</md-option>
              <md-option value="tahunan">Tahunan</md-option>
            </md-select>
            <div class="md-errors-spacer"></div>
          </md-input-container> 
        </div>
        <div class="marg-left-md-10" flex="100">
          <v-accordion multiple class="vAccordion--default custom-pru">
            <v-pane expanded="true">
              <v-pane-header class="header-icon">
                <md-icon aria-label="person" class="material-icons font-white">&#xE7FD;</md-icon> Alokasi Dana 
              </v-pane-header>
              <v-pane-content class="pad-bot-0">
              <div class="sub-lists accordion-body pad-top-20 pad-left-10 pad-right-10">
                <p>
                  Pilih produk untuk alokasi dana tidak tersedia. Pillih nama produk untuk melihat daftar produk yang tersedia untuk mengalokasikan dana 
                </p>
              </div>
              </v-pane-content>
            </v-pane>
          </v-accordion>
          <div class="form-group">
            <button class="button button-block button-assertive next-tab" type="submit">Lanjut</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>