<ion-view view-title="Perjanjian Keagenan Lampiran 1" ng-controller="lampiranPerjanjianCtrl">
  <ion-header-bar align-title="left" class="bar-assertive">
    <a class="left-buttons" ng-href="#/perjanjian-keagenan">
      <button menu-toggle="left" class="button button-icon icon ion-ios-arrow-back"></button>
    </a>
    <h1 class="title title-left">LEMBAR PERSETUJUAN</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="content-profile-head content-white-head profile-name small-header">
      <div class="center-content">
        <h5 class="text-center marg-top-5 marg-bot-5"> LAMPIRAN I<br>KETENTUAN KOMISI UNTUK AGENCY</h5>
      </div>
    </div>
    <div class="content-standard pad-top-0">
      <h5> Non-Unit-link </h5>
      <table class="borderless-row">
        <thead>
          <tr>
            <th rowspan="3" class="r-border-white">Nama Produk</th>
          </tr>
          <tr>
            <th class="b-border-white">Komisi Dasar dari Premi yang Telah Dibayarkan</th>
          </tr>
          <tr>
            <th>Tahun ke-1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>protector plan*</em></td>
            <td class="text-center">30,00%</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>major medical</em></td>
            <td class="text-center">10,00%</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>universal life</em></td>
            <td class="text-center">30,00%</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>live cover</em></td>
            <td class="text-center"> </td></tr>
          <tr>
            <td class="pad-left-15">
              - <span class="list">Masa Pembayaran 5 Tahun</span></td>
            <td class="text-center">10,00%</td></tr>
          <tr>
            <td class="pad-left-15">
              - <span class="list">Masa Pembayaran 10 Tahun</span></td>
            <td class="text-center">20,00%</td></tr>
          <tr>
            <td class="pad-left-15">
              - <span class="list">Masa Pembayaran 15 Tahun</span></td>
            <td class="text-center">30,00%</td></tr>
          <tr>
            <td class="pad-left-15">
              - <span class="list">Masa Pembayaran 20 Tahun</span></td>
            <td class="text-center">30,00%</td></tr>
        </tbody>
        <tbody>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>accident plus</em></td>
            <td class="text-center">15% setiap tahun</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>hospital care</em></td>
            <td class="text-center">15% setiap tahun</td></tr>
        </tbody>
      </table>
      <h6 class="font-black font-size-10 marg-bot-25">* Komisi <span class="italic-font">Rider</span> <span class="pru-logo-text"><strong class="font-red">PRU</strong><em class="font-gray">protector plan</em></span> mengikuti komisi produk dasar.</h6>

      <h5> Unit-link </h5>
      <table class="marg-bot-30 borderless-row">
        <thead>
          <tr>
            <th rowspan="3" class="r-border-white">Nama Produk</th>
          </tr>
          <tr>
            <th class="b-border-white">Komisi Dasar dari Premi yang Telah Dibayarkan</th>
          </tr>
          <tr>
            <th>Tahun ke-1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>link assurance account</em></td>
            <td class="text-center">30,00%</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>link syariah assurance account</em></td>
            <td class="text-center">30,00%</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>link fixed pay</em></td>
            <td class="text-center">30,00%</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>my child</em></td>
            <td class="text-center">30,00%</td></tr>
           <tr> 
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>link investor account</em></td>
            <td class="text-center">3,00%</td></tr>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>link syariah investor account</em></td>
            <td class="text-center">3,00%</td></tr>
        </tbody>
      </table>

      <table class="borderless-row">
        <thead>
          <tr>
            <th class="r-border-white width-50">Nama Produk</th>
            <th>Dari Setiap Premi yang Dibayarkan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pru-logo-text">
              <strong class="font-red">PRU</strong><em>save</em> & <em>Top-up</em></td>
            <td class="text-center">3,00%</td></tr>
          </tr>
        </tbody>
      </table>
      <h6 class="marg-bot-15">Catatan: Komisi untuk produk baru atau manfaat tambahan lainnya akan diinformasikan melalui Agency Update atau ketentuan Perusahaan lain secara tertulis.</h6>
      
      

      <div class="form-group" ng-controller="submitCtrl">
        <button ng-click="appNext('perjanjian-keagenan-lampiran-2')" class="button button-assertive button-block">Setuju</button>
        
      </div>

    </div>
  </ion-content>
  <div ng-click="scrollTop()" class="back-to-top">
    <i class="ion-chevron-up"></i>
  </div>
</ion-view>