<ion-view view-title="Perjanjian Keagenan Lampiran 3" ng-controller="lampiranPerjanjianCtrl">
  <ion-header-bar align-title="left" class="bar-assertive">
    <a class="left-buttons" ng-href="#/">
      <button menu-toggle="left" class="button button-icon icon ion-ios-arrow-back"></button>
    </a>
    <h1 class="title title-left">LEMBAR PERSETUJUAN</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="content-profile-head content-white-head profile-name small-header pad-sides-10">
      <div class="center-content">
        <h5 class="text-center marg-top-5 marg-bot-5"> LAMPIRAN III<br>SYARAT DAN KETENTUAN PERJANJIAN KEAGENAN STANDAR PRAKTIK KODE ETIK AGEN ASURANSI JIWA</h5>
      </div>
    </div>
    <div class="content-standard pad-top-0 font-black">
      LATAR BELAKANG
      <p class="font-black marg-bot-20">Perusahaan menyadari pentingnya reputasi yang baik. Untuk memelihara reputasi yang baik dibutuhkan tanggung jawab dan perofesionalisme tinggi dari setiap pelaku bisnis yang terlibat karena asuransi adalah bidang usaha yang berlandaskan pada kepercayaan dan kejujuran.</p>
      <p class="font-black marg-bot-20">Prinsip-prinsip usaha dari Perusahaan adalah tindakan yang bertanggung jawab dengan integritas yang baik, patuh dengan hukum dan peraturan serta menghormati budaya dan tradisi masyarakat Indonesia. Agen Asuransi Jiwa Perusahaan (&quot;Agen&quot;) sebagai salah satu pelaku bisnis asuransi yang berpengaruh terhadap reputasi Perusahaan harus dilengkapi dengan suatu Kode Etik dan Perilaku untuk menghindari benturan kepentingan, penyalahgunaan jabatan dan penyalahgunaan informasi.</p>
      <p class="font-black marg-bot-0">Standar Praktik Kode Etik Agen Asuransi Jiwa ini (&quot;Kode Etik&quot;) ditujukan agar setiap Agen selalu bertindak dengan etis, konsisten dan penuh integritas sesuai dengan prinsip Perusahaan dalam membangun kepercayaan dari (calon) Nasabah. Yang dimaksud dengan Nasabah dalam Standar Praktik Kode Etik Agen Asuransi Jiwa adalah Nasabah sebagaimana didefinisikan dalam Perjanjian, Tertanggung Utama atau Penerima Manfaat. Selain itu, kepatuhan Agen terhadap hukum dan peraturan serta rasa hormat terhadap tradisi dan budaya Indonesia  mencerminkan bahwa praktik penjualan akurat, lengkap, berimbang dan memenuhi etika standar. Dengan demikian Kode Etik ini wajib dipatuhi oleh setiap Agen dalam menjalani profesinya.</p>
      <hr class="marg-top-10 marg-bot-5">
      <ol class="numbering-list">
        <li>KEWAJIBAN AGEN
          <ol class="lower-alpha-list">
            <li>Kepatuhan Terhadap Peraturan Yang Berlaku
              <ol class="sub-lower-alhpa">
                <li>
                  Agen wajib mematuhi dan tunduk pada ketentuan peraturan yang berlaku, Kode Etik Agen, peraturan AAJI, AASI, OJK, Peraturan Anti Pencucian Uang dan Pencegahan Pendanaan Terorismedan peraturan Perusahaan termasuk segala perubahannya.
                </li>
                <li>
                  Bertindak jujur dan etis, termasuk secara etis menangani benturan kepentingan yang terjadi atau nyata antara hubungan pribadi dengan hubungan profesional.
                </li>
                <li>
                  Mendahulukan kepentingan Perusahaan yang sah, menghormati dan mengaplikasikan nilai-nilai dan standar Perusahaan.
                </li>
                <li>
                  Mempromosikan dan meningkatkan citra Perusahaan dan bertindak sebagai penyedia jasa yang bertanggung jawab serta warga negara yang baik.
                </li></ol></li></ol></li>
        <hr class="marg-top-10 marg-bot-10">
        <li> KEPATUHAN TERHADAP PERJANJIAN KEAGENAN
          <p class="font-black">Agen wajib mematuhi dan tunduk pada ketentuan sebagaimana diatur dalam Perjanjian Keagenan, termasuk dalam melaksanakan seluruh hak dan kewajibannya.</p></li>
        <hr class="marg-top-10 marg-bot-10">
        <li> KEWAJIBAN TERHADAP PROFESI 
          <ol class="lower-alpha-list">
            <li>
              Perjanjian Keagenan Agen wajib memiliki dan menandatangani Perjanjian Keagenan hanya dengan satu Perusahaan Asuransi Jiwa, kecuali ditentukan lain oleh peraturan perasuransian yang berlaku.
            </li>
            <li>
              Sertifikasi Keagenan Agen wajib memiliki sertifikasi keagenan yang dikeluarkan oleh AAJI dan AASI sebelum melakukan pemasaran dan/atau penjualan produk asuransi jiwa.
            </li>
            <li>
              Pelatihan dan Pengembangan Agen wajib mengikuti pelatihan dan pengembangan dasar dan lanjutan untuk meningkatkan profesionalisme pekerjaannya sebagaimana disyaratkan oleh peraturan perundang-undangan, peraturan AAJI, AASI, OJK dan peraturan Perusahaan.
            </li></ol></li>
        <hr class="marg-top-10 marg-bot-10">
        <li> KEWAJIBAN TERHADAP PERUSAHAAN 
          <ol>
            <li>
              Dalam prinsip hubungan antara Agen dengan Perusahaan, Agen harus menunjukkan kejujuran, niat baik dan kesetiaan dalam semua kegiatan keagenan.
            </li>
            <li>
              Agen harus secara tegas memahami dan patuh terhadap semua prosedur dan kebijakan Perusahaan yang berlaku.
            </li>
            <li>
              Agen wajib menggunakan dokumen pemasaran resmi dan terkini yang dikeluarkan oleh Perusahaan yang diwakilinya.
            </li>
            <li>
              Agen wajib melakukan kegiatan pemasaran sesuai dengan ketentuan yang berlaku di Perusahaan Asuransi Jiwa yang diwakilinya.
            </li>
            <li>
              Premi
              <ol>
                <li>
                   Agen wajib memberitahukan jumlah premi yang telah dibayarkan oleh calon Nasabah atau Nasabah sesuai dengan yang ditetapkan oleh Perusahaan.
                </li>
                <li>
                   Agen wajib segera menyetor premi kepada Perusahaan, dalam hal Agen diberikan kewenangan oleh Perusahaan untuk menerima titipan pembayaran premi dari Nasabah. Agen disyaratkan untuk menyerahkan Tanda Terima Resmi secepatnya, secara akurat mengidentifikasi pembayaran dan menyerahkan pembayaran premi dalam 48 jam setelah menerima pembayaran tersebut dari nasabah atau perwakilan resminya.
                </li>
                <li>
                   Agen wajib menjelaskan ketentuan dari tanda terima/kwitansi sementara kepada calon Nasabah atau Nasabah sebelum menerima titipan premi dari calon Nasabah atau Nasabah.
                </li>
                <li>
                   Agen harus bertindak sebagai pihak yang dipercaya atas beberapa tanggung jawab seperti penerimaan premi nasabah dan penjagaan informasi rahasia.
                </li>
                <li>
                   Agen tidak dibolehkan menggunakan setiap dan seluruh aset Perusahaan termasuk laporan, materi pelatihan, brosur, literatur dan/atau materi lain selain untuk tujuan yang bermanfaat bagi Perusahaan.
                </li></ol></li>
            <li>
              Hak Milik Intelektual
              <ol>
                <li>
                  Agen wajib mendapatkan persetujuan dari Perusahaan yang diwakilinya dalam hal Agen bermaksud menggunakan karya cipta, paten, merek dan/atau logo, termasuk namun tidak terbatas pada piranti lunak komputer (software) dari Perusahaan.
                </li>
                <li>
                  Agen tidak diizinkan untuk menggunakan logo atau merek diwakilinya dalam hal Agen bermaksud menggunakan karya cipta, paten, merek dan/atau logo, termasuk namun tidak terbatas pada piranti lunak komputer (software) dari Perusahaan. Prudential (dengan logo atau merk lain atau untuk tujuan bisnis lainnya) selain dari penggunaan yang telah disetujui oleh Perusahaan dan Agen tidak diizinkan untuk mengubah/menambah hak atas Kekayaan Intelektual Perusahaan dengan berbagai cara apapun yang dapat membawa risiko atau merusak reputasi baik Perusahaan.
                </li></ol></li>
            <li>
              Kepemilikan dan Kerahasiaan Atas Data Nasabah Setiap data Nasabah adalah milik dari Perusahaan. Agen dilarang untuk memberitahukan kepada pihak ketiga dan/atau menggunakan data Nasabah dan informasi lainnya yang didapatkan dalam rangka menjalankan kewajibannya sebagai Agen termasuk informasi mengenai Perusahaan kepada pihak ketiga selain untuk kepentingan Perusahaan, kecuali:
              <ol class="lower-alpha-list">
                <li>setelah mendapat persetujuan dari Perusahaan dalam hal informasi yang berkaitan dengan Perusahaan, atau dari Perusahaan, AAJI, AASI dan Nasabah dalam hal berkaitan dengan data Nasabah, atau
                </li>
                <li>untuk melaksanakan perintah dari pejabat pemerintah dan AAJI berdasarkan peraturan yang berlaku.
                </li></ol></li>
            <li>
              SPAJ dan Kelengkapannya
              <p class="font-black">
                Agen wajib selalu memastikan bahwa Nasabah memberikan informasi yang jelas, benar dan lengkap dalam pengisian SPAJ maupun semua dokumen kelengkapan lainnya. Agen dilarang memanipulasi dan merubah data-data yang diberikan oleh Nasabah (kecuali dengan persetujuan tertulis terlebih dahulu dari Nasabah dan Perusahaan dalam hal polis telah diterbitkan).
              </p></li>
            <li>
              Laporan Agen
              <p class="font-black">
                Dalam setiap permohonan asuransi jiwa dari calon Nasabah, Agen wajib senantiasa memberikan informasi yang jelas, benar dan lengkap tentang Nasabah dalam laporan Agen sebagaimana ditetapkan oleh Perusahaan.
              </p></li>
            <li>
              Tindak Pidana Pencucian Uang (Anti Money Laundering)
              <p class="font-black">
                Agen wajib senantiasa mematuhi segala aturan dan ketentuan tentang tindak pidana pencucian uang dan mengikuti pelatihan-pelatihan mengenai anti pencucian uang yang diselenggarakan oleh Perusahaan sebagaimana ditetapkan oleh perundang-undangan dan aturan pemerintah yang berlaku.
              </p></li>
            <li>
              Pooling
              <p class="font-black">
                Agen dilarang untuk mengalihkan penjualan produk yang telah dilakukannya kepada Agen lainnya. Agen yang tercatat dalam dokumen SPAJ merupakan Agen yang melakukan prospek, presentasi dan penjualan kepada calon Nasabah atau Nasabah hingga pada saat calon Nasabah atau Nasabah melakukan penandatanganan SPAJ tersebut. Agen wajib menolak namanya dicantumkan dalam dokumen SPAJ apabila dirinya tidak melakukan prospek atau penjualan produk asuransi jiwa kepada calon Nasabah atau Nasabah.
              </p></li>
            <li>
              Rekrutmen Agen
              <p class="font-black">
                Dengan tetap mengindahkan peraturan dan perundang-undangan yang berlaku, setiap Agen yang melakukan perekrutan Agen bagi Perusahaan wajib memastikan bahwa Agen yang akan direkrut menyerahkan:
              </p>
              <ol class="lower-alpha-list">
                <li>Salinan surat pengunduran diri Agen dari Perusahaan Asuransi Jiwa terdahulu (apabila pengakhiran Perjanjian Keagenan terjadi karena Agen mengundurkan diri) dan Salinan surat persetujuan Perusahaan Asuransi Jiwa atas pengunduran diri Agen tersebut. Salinan surat persetujuan Perusahaan Asuransi Jiwa atas pengunduran diri Agen tidak diperlukan apabila Perusahaan Asuransi Jiwa terdahulu tidak mengeluarkan surat persetujuan dalam jangka waktu 30 (tiga puluh) hari sejak surat pengunduran diri tersebut diterima oleh Perusahaan Asuransi Jiwa terdahulu; atau salinan surat pengakhiran Perjanjian Keagenan (apabila pengakhiran Perjanjian Keagenan terjadi karena pemutusan perjanjian oleh Perusahaan Asuransi Jiwa terdahulu).
                </li>
                <li>Salinan surat pernyataan Agen yang berpindah dari suatu Perusahaan Asuransi Jiwa ke Perusahaan Asuransi Jiwa Iainnya untuk tidak melakukan Twisting. Definisi Twisting dijelaskan pada pasal 5. A dalam lampiran III ini.</li></ol></li>
            <li>
              Perpindahan Agen Apabila Agen bermaksud untuk pindah dari suatu Perusahaan Asuransi Jiwa ke Perusahaan Asuransi Jiwa lainnya, maka Agen wajib melakukan perpindahan sesuai dengan ketentuan dalam peraturan dan perundang-undangan yang berlaku dan wajib menyerahkan kepada Perusahaan Asuransi Jiwa terdahulu:
              <ol class="lower-alpha-list">
                <li>Surat pengunduran diri asli.
                </li>
                <li>Surat pernyataan asli Agen yang berpindah untuk tidak melakukan Twisting. Dan selanjutnya wajib menyerahkan kepada Perusahaan Asuransi Jiwa yang baru:
                  <ol class="sub-lower-alhpa">
                    <li>
                      Salinan surat pengunduran diri (apabila pengakhiran Perjanjian Keagenan terjadi karena Agen mengundurkan diri) dan Salinan surat persetujuan Perusahaan Asuransi Jiwa atas pengunduran diri Agen tersebut. Salinan surat persetujuan Perusahaan atas pengunduran diri Agen tidak diperlukan apabila Perusahaan Asuransi Jiwa terdahulu tidak mengeluarkan surat persetujuan dalam jangka waktu 30 (tiga puluh) hari sejak surat pengunduran diri tersebut diterima oleh Perusahaan Asuransi Jiwa terdahulu; atau salinan surat pengakhiran Perjanjian Keagenan (apabila pengakhiran Perjanjian Keagenan terjadi karena pemutusan perjanjian oleh Perusahaan Asuransi Jiwa terdahulu).
                    </li>
                    <li>
                      Salinan surat pernyataan Agen yang akan berpindah untuk tidak melakukan Twisting.
                    </li></li></ol></li></ol></li>
            <li>
              Keterbukaan
              <p class="font-black">
                Agen wajib setiap saat memberikan informasi yang jelas, benar, dan lengkap kepada Perusahaan, calon Nasabah dan Nasabah. Agen dilarang menyampaikan informasi yang bersifat keliru dan menyesatkan kepada Perusahaan, calon Nasabah dan Nasabah.
              </p>
            </li>
            <li>
              Bantuan Investigasi, Pemeriksaan dan Audit
              <p class="font-black">
                Agen wajib senantiasa memberikan bantuan yang wajar kepada Perusahaan dalam hal terjadi investigasi atau pemeriksaan terkait usaha perasuransian, baik dari tim pemeriksa Perusahaan sendiri, pihak ketiga maupun dari pihak yang berwenang dari pemerintah. Bantuan tersebut termasuk tapi tidak terbatas pada memberikan kesempatan, akses terhadap data-data terkait yang ada pada Agen.
              </p>
            </li>
            <li>
              Agen dalam melakukan pemasaran dan/atau penjualan wajib memastikan, termasuk tapi tidak terbatas atas hal-hal sebagai berikut:
              <ol class="lower-alpha-list">
                <li>Agen wajib menerangkan dan memberikan penjelasan mengenai ringkasan informasi produk kepada calon Nasabah atau Nasabah.
                </li>
                <li>Calon Nasabah atau Nasabah telah memahami produk asuransi ringkasan informasi produk kepada calon Nasabah atau Nasabah. yang hendak dibeli termasuk namun tidak terbatas pada ketentuan mengenai resiko, premi dan manfaat asuransi.
                </li>
                <li>Agen wajib meminta calon Nasabah atau Nasabah untuk mengisi formulir SPAJ sendiri, jika calon Nasabah atau Nasabah tidak dapat melakukannya, Agen wajib menjelaskan formulir SPAJ tersebut kepada calon Nasabah atau Nasabah dan membacakan pertanyaan-pertanyaan yang harus dijawab calon Nasabah atau Nasabah sehingga calon Nasabah atau Nasabah mengerti dan bisa mendiktekan jawabannya.
                </li>
                <li>Calon Nasabah atau Nasabah telah memahami bahwa calon Nasabah atau Nasabah wajib mengungkapkan dengan jujur segala informasi yang berkaitan dengan riwayat kesehatan, usia, pekerjaan dan hal-hal lain yang dapat mempengaruhi Perusahaan dalam hal penjualan produk asuransi atau besarnya premi kepada calon Nasabah atau Nasabah.
                </li>
              </ol>
            </li>
            <li>
              Manipulasi Penjualan
              <p class="font-black">
                Agen dilarang untuk memanipulasi penjualan untuk tujuan mendapatkan insentif atau memenangkan kontes atau award. Termasuk contoh dalam kegiatan memanipulasi penjualan adalah melakukan bujukan untuk mengakhiri polis segera setelah mendapatkan insentif atau memenangkan kontes atau award.
              </p>
            </li>
            <li>
              Pencemaran Nama Baik
              <p class="font-black">
                Agen dilarang mencemarkan nama baik dan reputasi Perusahaan dan lembaga asuransi lainnya.
              </p>
            </li>
            <li>
              Pelaporan Pelanggaran
              <p class="font-black">
                Agen wajib melaporkan kepada Perusahaan jika ia mengetahui adanya Agen lain atau Tenaga Pemasar Non Agen lain yang melakukan pelanggaran atas Kode Etik Agen ini dan atau peraturan perasuransian yang berlaku.
              </p>
            </li>
            <li>
              Persekongkolan Agen untuk menghilangkan, menghapus atau mengubah informasi mengenai (calon) Nasabah akan dianggap sebagai tindakan tidak beretika dan penipuan.
            </li>
            <li>
              Agen harus mengetahui dan mengerti Produk Asuransi Perusahaan yang mereka pasarkan.
            </li>
            <li>
              Manajer keagenan wajib memberikan pelatihan, dukungan dan pengawasan yang memadai kepada agen-agennya untuk memastikan pelayanan dan penjelasan yang tepat kepada calon nasabah atau nasabah yang sudah ada.
            </li>
            <li>
              Agen tidak diperkenankan untuk merekrut dan merekomendasikan agen-agen atau nasabah-nasabah yang diketahui memiliki moral dan standar etika yang buruk.
            </li>
            <li>
              Agen bertanggung jawab untuk bertindak selaku fieldunderwriter untuk Perusahaan, bertemu dengan (calon) nasabahuntuk mengumpulkan informasi yang lengkap dan tepat sehubungan dengan (calon) Nasabah mengenai risiko yang dapat timbul untuk disampaikan secara lengkap kepada Perusahaan.
            </li>
            <li>
              Keterlibatan dalam aktivitas pencucian uang Membantu Nasabah memanfaatkan polis asuransi untuk mengubah identitas dana yang diperoleh dari aktivitas ilegal supaya tampak berasal dari sumber yang sah.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          KEWAJIBAN AGEN KEPADA NASABAH
          <ol class="upper-alpha-list">
            <li>
              Agen dilarang untuk melakukan tindakan Pemutarbalikan (Twisting) dan Pencampur-adukan (Churning)
              <p>
                Twisting adalah tindakan Tenaga Pemasar yang membujuk dan/atau mempengaruhi pemegang polis untuk merubah spesifikasi polis yang ada atau mengganti polis yang ada dengan polis yang baru pada Perusahaan Asuransi Jiwa lainnya dan/atau membeli polis baru dengan menggunakan dana yang berasal dari polis yang masih aktif pada suatu Perusahaan Asuransi Jiwa lainnya dalam waktu 6 (enam) bulan sebelum dan sesudah tanggal polis baru di Perusahaan Asuransi Jiwa lain diterbitkan.
              </p>
              <p>
                Twisting Internal atau Churning adalah tindakan membujuk dan mempengaruhi pemegang polis untuk merubah spesifikasi polis yang ada atau mengganti polis yang ada dengan polis yang baru pada Perusahaan Asuransi Jiwa yang sama, dan/atau membeli polis baru dengan menggunakan dana yang berasal dari polis yang masih aktif dari Perusahaan Asuransi Jiwa yang sama tanpa penjelasan terlebih dahulu kepada pemegang polis mengenai kerugian yang dapat diderita oleh pemegang polis akibat perubahan penggantian tersebut.Twisting Internal atau Churning mengacu pada peraturan Perusahaan yang diterbitkan dari waktu ke waktu.
              </p>
            </li>
            <li>
              Pengisian Formulir <br> Agen dilarang untuk:
              <ol class="lower-alpha-list decimal">
                <li>Meminta atau membiarkan calon Nasabah dan/atau Nasabah untuk menandatangani SPAJ kosong atau formulir asuransi kosong lainnya.
                </li>
                <li>Menandatangani atau membubuhkan paraf pada tempat yang memerlukan tanda tangan atau paraf calon Nasabah dan/atau Nasabah untuk dan atas nama calon Nasabah dan/atau Nasabah, walaupun calon Nasabah dan/atau Nasabah tersebut menyetujuinya.
                </li>
                <li>Agen dilarang membuat laporan apabila Agen tidak bertemu/berhadapan langsung dengan calon Nasabah dan/atau Nasabah dan menyaksikan sendiri calon Nasabah dan/atau Nasabah mengisi dan menandatangani SPAJ dan formulir asuransi lainnya.</li></ol></li>
            <li>
              Penyalahgunaan Dana Nasabah <br>(Misappropriation of Funds)
              <p>
                Agen dilarang untuk mengambil atau menggunakan pembayaran premi, uang atau harta benda lain milik Perusahaan yang diterima dari calon Nasabah dan/atau Nasabah. Penundaan penyetoran premi yang diterima dari Nasabah atau calon Nasabah kepada Perusahaan dalam batas waktu yang telah ditetapkan oleh Perusahaan termasuk juga dalam kategori penyalahgunaan dana.</p></li>
            <li>
              Penyerahan Dokumen Kepada Nasabah
              <p>
                Perusahaan dapat sewaktu-waktu mempercayakan dokumen-dokumen Nasabah seperti polis atau dokumen lainnya kepada Agen untuk diserahkan dengan segera kepada Nasabah. Agen wajib menyerahkan polis atau dokumen dari Perusahaan kepada Nasabah serta mendapatkan tanda terima.
              </p>
              <p>
                Selanjutnya Agen wajib menyerahkan tanda terima dokumen tersebut kepada Perusahaan. Agen wajib segera memberitahukan kepada Perusahaan apabila ia gagal mengirimkan dokumen-dokumen tersebut kepada Nasabah beserta alasannya dan segera mengembalikan dokumen- dokumen tersebut kepada Perusahaan.</p></li>
            <li>
              Pendanaan dan Pembayaran Atas Premi
              <p>
                Agen dilarang untuk melakukan pendanaan kewajiban pembayaran premi Nasabah terhadap Perusahaan dengan dananya sendiri, baik hal yang merupakan pembayaran dimuka (premi pertama) atau pembayaran premi lanjutan kecuali Agen tersebut memiliki hubungan suami istri atau keluarga sedarah dalam satu garis ke atas dan ke bawah dengan Nasabah.
              </p>
            </li>
            <li>
              Diskon, Rebate dan Inducement
              <ol class="lower-alpha-list decimal"> 
                <li>Agen dilarang baik secara langsung maupun tidak langsung menawarkan dan/atau menjanjikan dan/atau memberikan potongan/diskon bagi calon Nasabah atau Nasabah sehubungan dengan pembayaran premi sehingga jumlah premi yang dibayar untuk suatu polis lebih rendah dari jumlah premi yang tertera daiam polis atau menawarkan potongan komisi kepada Nasabah atau calon Nasabah sebagai alat untuk membujuk/mendorong agar calon Nasabah atau Nasabah membeli polis dari Agen.
                </li>
                <li>Agen dilarang baik secara langsung maupun tidak langsung menjanjikan untuk memberikan dan/atau memberikan benda lain yang berharga yang dimaksudkan untuk memberikan potongan premi kepada calon Nasabah atau Nasabah.
                </li>
                <li>Agen dilarang baik secara langsung maupun tidak langsung meminta atau menerima hadiah, manfaat atau pemberian dari Nasabah sebagai balasan untuk setiap jasa yang dilakukan Agen.</li></ol></li>
            <li>
              Penerima Manfaat<br>
              Agen dilarang menjadi penerima manfaat dari tertanggung, kecuali terdapat hubungan insurable interest antara tertanggung dan Agen tersebut.</li>
            <li>
              Pemasaran dan Presentasi<br/>
              Agen melakukan penjualan produk asuransi berdasarkan kebutuhan calon Nasabah atau Nasabah. Dengan demikian Agen wajib:
              <ol class="lower-alpha-list decimal"> 
                <li>Memperlihatkan sertifikasi keagenannya kepada calon Nasabah atau Nasabah sebelum memulai proses pemasaran dan penjualan.
                </li>
                <li>Mengenali kebutuhan calon Nasabah atau Nasabah.
                </li>
                <li>Pada saat wawancara pertama dengan calon Nasabah atau Nasabah, Agen wajib meluangkan cukup waktu untuk membicarakan konsep asuransi, rencana keuangan dan melakukan analisa kebutuhan calon Nasabah atau Nasabah akan produk asuransi.</li>
                <li>Mengaplikasikan prinsip/aturan &quot;KENALI NASABAH ANDA&quot; sebagaimana diatur dalam peraturan yang berlaku.
                </li>
                <li>Mengajukan pertanyaan yang tepat untuk menentukan jika satu produk cocok untuk calon Nasabah atau Nasabah. Agen wajib mendengarkan tujuan dan kebutuhan calon Nasabah atau Nasabah yang diungkapkan untuk dapat menilai produk asuransi yang cocok untuk calon Nasabah atau Nasabah.</li>
                <li>Menilai secara tepat apakah satu produk asuransi yang disarankan cocok untuk calon Nasabah atau Nasabah, informasi atas pertanyaan berikut dapat diajukan acuan, antara lain:
                  <ul class="star-list">
                    <li>Apa pekerjaan, usaha dan posisi dari calon Nasabah atau Nasabah?</li>
                    <li>Berapa usia calon Nasabah atau nasabah?</li>
                    <li>Dimana dia tinggal? Apakah lingkungan tempat tinggalnya di kalangan atas?</li>
                    <li>Apakah menikah, siapa suami/istri dari calon Nasabah atau Nasabah dan bagaimana status pernikahannya?</li>
                    <li>Apa hobi calon Nasabah atau Nasabah? Apakah hobi tersebut umum?</li>
                    <li>Berapa penghasilan calon Nasabah atau Nasabah?</li>
                    <li>Siapa saja dan berapa banyak jumlah tanggungannya?</li>
                  </ul>
                </li>
                <li>Menjelaskan secara lengkap mengenai produk asuransi yang akan dipasarkan termasuk mengenai:
                  <ul class="star-list">
                    <li>Fitur produk asuransi.</li>
                    <li>Manfaat produk asuransi.</li>
                    <li>Persyaratan-persyaratan yang berkaitan dengan produk asuransi.</li>
                    <li>Memelihara tingkat profesionalisme dengan selalu mendapatkan informasi terbaru mengenai produk Perusahaan, kebijakan dan ketentuan Perusahaan.</li>
                    <li>Memastikan bahwa setiap pertanyaan yang terdapat dalam SPAJ telah dipahami oleh Calon Nasabah atau Nasabah.</li>
                    <li>Menjelaskan secara lengkap peraturan Perusahaan kepada Nasabah sebelum menerima titipan premi pertama dari Nasabah.</li>
                    <li>Menyerahkan polis kepada Nasabah segera dan Agen sangat disarankan untuk mengantar sendiri polis kepada Nasabah untuk menjelaskan kembali spesifikasi Produk Asuransi yang dibeli dan menegaskan keinginan Nasabah membeli Produk Asuransi tersebut. Agen harus meminta bukti penerimaan polis dari Nasabah.</li></ul></ol>
            <li>
              Benturan Kepentingan
              <p>
                Agen tidak boleh merugikan kepentingan calon Nasabah atau Nasabah atau Perusahaan untuk suatu tujuan untuk mendapatkan keuntungan pribadi. Agen wajib memberitahukan kepada calon Nasabah atau Nasabah hal-hal yang dimiliki oleh Agen yang memiliki benturan kepentingan dengan kepentingan kebutuhan calon Nasabah atau Nasabah dan/atau dapat mempengaruhi obyektivitas dan independensi Agen dalam memberikan nasihat keuangan kepada calon Nasabah atau Nasabah. Agen juga tidak dapat memberikan nasihat keuangan diluar kapasitas dan pengetahuannya selaku pemasar produk asuransi jiwa.</p></li>
            <li>
              Misrepresentasi
              <ol class="lower-alpha-list decimal"> 
                <li>Ilustrasi<br/>
                  Agen wajib menyediakan/menyampaikan informasi mengenai produk secara benar, tepat, lengkap dan dalam Bahasa yang sederhana dengan mengacu pada ketentuan dari Perusahaan melalui materi atau alat yang telah disediakan oleh Perusahaan. Agen dilarang membuat perubahan terhadap ilustrasi yang disediakan Perusahaan tanpa seijin dari Perusahaan.
                </li>
                <li>Pernyataan yang Menyesatkan<br/>
                  Agen dilarang membuat pernyataan yang menyesatkan dalam proses kegiatan penjualan atau pemasaran mereka. Informasi yang penting sebagai dasar pengambilan keputusan harus secara penuh dan akurat diungkapkan sebelum penjualan dilakukan.
                </li>
                <li>Perbandingan yang tidak Lengkap<br/>Agen dilarang memberikan perbandingan yang tidak lengkap atau tidak benar dari setiap polis dari suatu Perusahaan dengan yang lainnya dengan niat untuk meyakinkan Nasabah dalam membeli produk asuransi, atau untuk mengakhiri atau menebus polis.</li></ol></li>
            <li>
              Pelayanan<br/>
              Agen wajib memberikan pelayanan secara profesional, menyeluruh, efisien, konsisten dan berkelanjutan kepada Nasabah dan Perusahaan. Untuk itu, Agen wajib memiliki pengetahuan yang memadai tentang produk asuransi Perusahaan dan prinsip-prinsip asuransi</li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          HUBUNGAN DENGAN REKAN SEPROFESI
          <ol class="upper-alpha-list">
            <li>
              Hubungan dengan sesama Agen atau rekan seprofesi Perusahaan harus dilandasi sikap saling menghargai dan mempercayai. Sangat dianjurkan untuk membina hubungan baik dengan kantor keagenan lain, menciptakan persaingan usaha yang sehat dan memotivasi sesama Agen untuk menerapkan standar yang sama.
            </li>
            <li>
              Agen tidak dibolehkan untuk mengambil atau membujuk Nasabah dan/atau calon Nasabah Agen lain untuk mengganti Agen.            
            </li>
            <li>
              Keberatan-keberatan terhadap tindakan sesama Agen atau rekan dalam Perusahaan yang dianggap bertentangan dengan Kode Etik ini harus diajukan kepada pegawai yang ditunjuk Perusahaan untuk bertanggung jawab atas Agen dan tidak dibenarkan untuk disampaikan kepada pihak luar Perusahaan termasuk penyiaran melalui media massa.
            </li>
            <li>
              Manajer keagenan dan/atau kantor keagenan dilarang membujuk Agen lain untuk pindah ke unit atau kantor keagenan lain. Dalam hal perpindahan tersebut merupakan tindakan yang harus dilakukan dalam melaksanakan Kode Etik ini, maka calon manajer keagenan atau kantor keagenan yang baru harus mendiskusikan situasi tersebut dengan manajer keagenan atau kantor keagenan yang berkaitan dan wakil yang ditunjuk Perusahaan.
            </li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          SANKSI PELANGGARAN KODE ETIK
          <ol class="upper-alpha-list">
            <li>
              Setiap tindakan yang dianggap sebagai pelanggaran terhadap Kode Etik ini akan diinvestigasi oleh Perusahaan. Setelah selesainya proses investigasi, Perusahaan akan memutuskan tindakan disiplin yang tepat terhadap Agen yang melanggar Kode Etik ini antara lain, berupa:
              <ol class="sub-upper-alpha">
                <li>
                  Peringatan tertulis;
                </li>
                <li>
                  Pelaporan pelanggaran Agen kepada AAJI untuk dimasukkan ke dalam Daftar Tenaga Pemasar Bermasalah dan/atau untuk dilakukan pencabutan sertifikasi keagenan;
                </li>
                <li>
                  Penonaktifan Agen sementara (skorsing); dan/atau
                </li>
                <li>
                  Pengakhiran Perjanjian Keagenan, Pengenaan sanksi dapat dilakukan secara sekaligus bergantung kepada jenis pelanggaran ketentuan Kode Etik Agen.</li></ol></li>
            <li>
              AAJI dapat mengenakan sanksi kepada setiap Agen yang melakukan pelanggaran Kode Etik Agen berdasarkan pelaporan tertulis dari Perusahaan yang antara lain berupa:
              <ol class="sub-upper-alpha">
                <li>
                  Pencabutan sertifikasi keagenan; dan/atau
                </li>
                <li>
                  Pencantuman pada Daftar Agen Bermasalah.</li></ol></li>
            <li>
              Pencabutan sertifikasi keagenan dan/atau pencantuman dalam Daftar Agen Bermasalah dapat dilakukan oleh AAJI dalam hal Agen terbukti:
              <ol class="sub-upper-alpha">
                <li>
                  Melakukan kegiatan pemasaran produk asuransi jiwa tanpa memiliki sertifikasi yang sah dan masih berlaku dari AAJI dan AASI;
                </li>
                <li>
                  Melakukan tindak pidana yang terkait dengan usaha perasuransian;
                </li>
                <li>
                  Membantu dan/atau memfasilitasi tindak pidana pencucian uang;
                </li>
                <li>Melakukan Twisting; atau</li>
                <li>Melakukan pelanggaran berat lainnya.</li></ol></li>
            <li>
              Sanksi pencabutan sertifikasi Agen dan sanksi pencantuman dalam Daftar Agen Bermasalah berlaku untuk jangka waktu paling sedikit 5 (lima) tahun.</li>
          </ol>
        </li>
        <hr class="marg-top-10 marg-bot-10">
        <li>
          PELAKSANAAN KODE ETIK
           <ol class="upper-alpha-list">
            <li>
              Setiap Agen wajib mematuhi dan tunduk kepada Kode Etik ini.
            </li>
            <li>
              Apabila dianggap perlu oleh Perusahaan, maka Perusahaan berhak untuk mengubah Kode Etik ini setiap saat.
            </li>
          </ol>
        </li>
      </ol>
      <hr class="marg-top-10 marg-bot-10">

      <button class="button button-assertive button-block">Setuju</button>
    </div>
  </ion-content>
  <div ng-click="scrollTop()" class="back-to-top">
    <i class="ion-chevron-up"></i>
  </div>
</ion-view>